---
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";
import HeroPages from "../components/HeroPages.astro";
---

<Layout title="BYU_Contacto">
  <main class="bg-blue-600">
    <HeroPages title="Contacto" />
    <Contact />
  </main>
</Layout>
