---
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";
import HeroPages from "../components/HeroPages.astro";
---

<Layout title="BYU_Contacto">
  <main class="bg-blue-600">
<section class="bg-gradient-to-t from-[#1b2027] to70% to-[#001228] h-[40vh] max-[800px]:h-fit flex justify-center items-center overflow-hidden relative">
  <div
    class="pt-20 flex justify-start items-center gap-10 w-full px-10 max-[850px]:gap-0"
  >
      <h2
        class="text-7xl max-xl:text-6xl text-blue-600 font-CoFoBold max-[1000px]:text-5xl max-[700px]:text-4xl"
      >
        Contacto
      </h2>
  </div>
</section>
    <Contact />
  </main>
</Layout>
