---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeroVideo from "../../Hero-Home-Video.mp4";
---

<Layout title="BYU_Home">
  <main>
    <header class="fixed top-0 pt-8 z-40 w-full text-white">
      <nav class="flex justify-between pl-36 pr-36 items-center w-full">
        <div>
          <div>
            <a href="#"
              ><img
                class="w-7"
                src="/navbar-icon.png"
                alt="Icono de navegacion"
              /></a
            >
            <!-- <a href="#">Home</a>
				<a href="#">Servicios</a>
				<a href="#">Nosotros</a>
				<a href="#">Beneficios</a>
				<a href="#">Superapp</a>
				<a href="#">Contacto</a> -->
          </div>
        </div>
        <a href="/#" class="font-medium text-2xl"
          >BY <span class="font-semibold tracking-tighter"> ))) </span> URBANA</a
        >
        <a href="#" class="font-normal text-base border rounded-full pl-6 pr-6"
          >CONTÁCTENOS</a
        >
      </nav>
    </header>
    <section class="bg-black relative h-screen overflow-hidden">
      <div
        class="z-20 relative text-white flex flex-col w-full h-full justify-center items-center"
      >
        <header
          class="flex justify-center items-start flex-col gap-6 pt-60 w-[550px] relative left-44"
        >
          <p class="font-semibold text-xs tracking-widest">
            BESPOKE FINTECH-INSURTECH SOLUTIONS
          </p>
          <h1 class="text-7xl">
            <span class="font-black">FACILITAMOS</span> LA <span
              class="whitespace-nowrap">))) INTEGRACIÓN )))</span
            > DE ECOSISTEMAS DE PAGO.
          </h1>
          <p class="font-medium text-lg">
            Desde la emisión de tarjetas hasta la gestión de pagos digitales,
            nuestras herramientas personalizadas impulsan el crecimiento
            financiero de su empresa.
          </p>
          <a class="font-bold text-xl border-b-2" href="#">Conozca más ↗</a>
        </header>
        <footer
          class="flex flex-grow flex-row justify-between pl-36 pr-36 w-full items-end pb-9"
        >
          <div class="flex gap-3">
            <img class="w-12" src="\Mastercar-Icon.svg" alt="Mastercar Logo" />
            <span class="font-semibold tracking-widest text-[12px]">
              <p class="p-0">SOMOS</p>
              <p class="p-0">MASTERCARD</p>
              <p class="p-0">PARTNERS</p>
            </span>
          </div>
          <img
            class="rotate-90 w-4"
            src="\Hero-Arrow.png"
            alt="Flecha guia"
          />
          <span class="font-medium text-[11px]">© 2024 BY URBANA</span>
        </footer>
      </div>

      <div class="absolute top-0 bottom-0 z-10 w-full h-full">
        <video
          class="object-center object-cover w-full h-full"
          autoplay
          muted
          loop
        >
          <source src={HeroVideo} type="video/mp4" />
        </video>
      </div>
    </section>
  </main>
</Layout>

<style></style>
