---
import Layout from "../layouts/Layout.astro";
import HeroVideo from "/Hero-Home-Video.mp4";
import Slider from "../components/Slider.astro";
---

<Layout title="ByUrbana">
  <main>
    <section class="bg-black relative h-screen overflow-hidden">
      <div
        class="z-20 relative text-white flex flex-col w-full h-full justify-center items-center"
      >
        <Slider />
        <footer
          class="flex flex-grow flex-row absolute bottom-0 justify-between max-[480px]:justify-centr px-36 w-full items-center pb-7 max-[800px]:px-10 max-[500px]:px-5"
        >
          <div class="flex gap-3">
            <img
              class="w-12 max-[1366px]:w-10 max-[480px]:w-7"
              src="\Mastercar-Icon.svg"
              alt="Mastercar Logo"
            />
            <span
              class="font-semibold tracking-widest leading-3 text-[12px] max-[1366px]:text-[10px] max-[480px]:text-[8px] max-[480px]:leading-[1]"
            >
              <p class="p-0">SOMOS</p>
              <p class="p-0">EMISORES</p>
              <p class="p-0">MASTERCARD</p>
            </span>
          </div>
          <img
            class="rotate-90 -translate-x-20 max-[1900px]:-translate-x-[3.7rem] max-[1000px]:-translate-x-0 w-4 max-[500px]:w-3"
            src="\Hero-Arrow.png"
            alt="Flecha guia"
          />
          <span
            class="font-medium tracking-widest text-[10px] max-[1440px]:text-[9px] max-[480px]:tracking-widest max-[480px]:text-[7px]"
            >© 2024 BY URBANA</span
          >
        </footer>
      </div>
      <span class="bg-[#04122675] absolute top-0 left-0-0 z-10 w-full h-full">
      </span>
      <video
        class="object-center absolute top-0 left-0 object-cover w-full h-full"
        autoplay
        muted
        loop
        playsinline
      >
        <source src={HeroVideo} type="video/mp4" />
      </video>
    </section>
    <section
      class="bg-[#041226 h-screen max-[1000px]:h-fit pt-20 pb-36 justify-center relative items-center flex flex-col bg-gradient-to-t from-[#1b2027] to70% to-[#001228] overflow-hidden"
    >
      <img
        class="absolute bg-animation-home bg-animation-home1 h-[90%] translate-y-9 left-[55%] max-xl:hidden"
        src="\image-bdef654d-9f87-4b08-8dc7-2b6579f397cc.webp"
        alt=""
      />
      <img
        class="absolute bg-animation-home bg-animation-home2 h-[90%] translate-y-9 left-[40%] max-xl:hidden"
        src="\image-bdef654d-9f87-4b08-8dc7-2b6579f397cc.webp"
        alt=""
      />
      <img
        class="absolute bg-animation-home bg-animation-home3 h-[90%] translate-y-9 left-[25%] max-xl:hidden"
        src="\image-bdef654d-9f87-4b08-8dc7-2b6579f397cc.webp"
        alt=""
      />
      <div class="text-white grid grid-cols-1 relative gap-10 w-5/6">
        <span
          class="text-xs font-CoFoMedium tracking-widest max-[1440px]:text-[10px] max-[500px]:text-[8px]"
          >BIENVENIDO A BY URBANA</span
        >
        <h2
          class="text-7xl max-[1680px]:text-[4.1srem] max-[1440px]:text-[3.5rem] max-[1366px]:text-[3.2rem] max-[1440px]:pt-0 max-[1025px]:text-4xl max-[500px]:text-[2.2rem] max-[500px]:leading-9 text-[#cce8fa] justify-self-center"
        >
          <span class="font-black font-CoFoBlack">
            Desarrollamos billeteras virtuales personalizadas
          </span>
          , ofreciendo una mejor gestión de pagos y cobros para tu negocio. Armala
          como quieras. Tenemos soluciones financieras y tecnológicas adaptables
          a cada modelo de negocio.
        </h2>
      </div>
      <div
        class="flex items-center justify-between gap-6 absolute bottom-0 right-0 py-24 max-[1440px]:py-20 px-28 max-[1000px]:pl-10 max-[1000px]:pr-6 w-full max-[400px]:pb-10"
      >
        <p class="text-white text-xl max-[1100px]:text-sm font-CoFoMedium">
          By Urbana: Productos y soluciones <br /> para el mercado B2B
        </p>
        <a
          class="font-bold text-xl max-[1440px]:text-sm border-b-2 text-white text-nowrap"
          href="/servicios">Conocé más ↗</a
        >
      </div>
    </section>
    <section class="flex flex-row w-full overflow-hidden border-t">
      <section class="bg-[#041226] w-full py-28">
        <div class="h-full w-[80vw] mx-auto flex flex-col gap-10">
          <div class="flex justify-center items-center w-full pb-10">
            <h2
              class="text-white text-4xl w-fit font-CoFoMedium max-[1440px]:text-3xl max-[800px]:text-lg max-[1100px]:mb-7"
            >
              BENEFICIOS PARA COMERCIOS
            </h2>
          </div>
          <ul
            class="grid grid-cols-2 max-[850px]:grid-cols-1 h-full mx-auto grid-rows-2 max-[850px]:grid-rows-4 gap-24 max-[1440px]:gap-16 justify-center items-center"
          >
            <li
              class="max-[1100px]:max-w-[650px] max-[550px]:w-[75vw] h-[600px] max-[1440px]:h-[500px] max-[900px]:h-[450px] max-[1280px]:h-[460px] flex justify-center items-center"
            >
              <div
                class="card text-white relative overflow-hidden rounded-[40px] border p-10 pb-16 border-blue-800 max-[550px]:w-[70vw] flex flex-col justify-between items-start h-full w-[525px] max-[385px]:w-[250px] max-[1440px]:w-[400px] max-[1280px]:w-[380px] max-[1100px]:w-[400px]"
              >
                <video
                  class="absolute h-full top-0 left-0 object-cover"
                  autoplay
                  muted
                  loop
                  playsinline
                >
                  <source src="/video1.mp4" type="video/mp4" />
                </video>
                <span
                  class="bg-[#04122675] absolute z-10 h-full w-full top-0 left-0 object-cover"
                ></span>
                <div class="flex justify-between items-start w-full z-20 gap-2">
                  <h3
                    class="text-5xl leading-[.8] max-[1440px]:text-4xl max-[1280px]:text-3xl max-[1280px]:leading-7 max-[1440px]:leading-8"
                  >
                    <span class="font-CoFoBold">EMISIÓN</span>
                  </h3>
                  <span
                    class="font-CoFoBold -tracking-widest text-5xl max-[1440px]:text-4xl max-[1280px]:text-3xl max-[400px]:hidden text-blue-200"
                    >)))</span
                  >
                </div>
                <p
                  class="text-xl max-[1440px]:text-sm max-[1440px]:leading-4 max-[400px]:text-[9px] font-CoFoMedium max-[1366px]:font-normal max-[400px]:w-full max-[1280px]:leading-3 z-20 leading-5"
                >
                  Emitimos tarjetas de débito, crédito y prepago. Cada cliente
                  pueda emitir sus tarjetas como miembro afiliado a la compañía,
                  sin necesidad de tramitar sus propias licencias, agilizando
                  tiempos y costos.
                </p>
              </div>
              <li
                class="max-[1100px]:max-w-[650px] max-[550px]:w-[75vw] h-[600px] max-[1440px]:h-[500px] max-[900px]:h-[450px] max-[1280px]:h-[460px] flex justify-center items-center"
              >
                <div
                  class="card text-white relative overflow-hidden rounded-[40px] max-[550px]:w-[70vw] border p-10 pb-16 border-blue-800 flex flex-col justify-between items-start h-full w-[525px] max-[385px]:w-[250px] max-[1440px]:w-[400px] max-[1280px]:w-[380px] max-[1100px]:w-[400px]"
                >
                  <video
                    class="absolute h-full top-0 left-0 object-cover"
                    autoplay
                    muted
                    loop
                    playsinline
                  >
                    <source src="/video-clover.mp4" type="video/mp4" />
                  </video>
                  <!-- <img src="/clover.jpeg" alt="clover image" class="absolute h-full top-0 left-0 object-cover"/> -->
                  <span
                    class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
                  ></span>
                  <div
                    class="flex justify-between max-[550px]:justify-center items-start w-full z-20 gap-2"
                  >
                    <h3
                      class="text-5xl leading-[.8] max-[1440px]:text-4xl max-[1280px]:text-3xl max-[1280px]:leading-7 max-[550px]:text-2xl max-[550px]:w-full max-[1440px]:leading-8"
                    >
                      <span class="font-CoFoBold">ADQUIRENCIA</span>
                    </h3>
                    <span
                      class="font-CoFoBold text-5xl -tracking-widest max-[1440px]:text-4xl max-[1280px]:text-3xl max-[400px]:hidden text-blue-200"
                      >)))</span
                    >
                  </div>
                  <p
                    class="text-xl max-[1440px]:text-sm max-[1440px]:leading-4 max-[400px]:text-[9px] font-CoFoMedium max-[1366px]:font-normal max-[400px]:w-full max-[1280px]:leading-3 z-20 leading-5"
                  >
                    Proveemos alternativas de cobros y pagos. Terminales de
                    punto de venta (TPV), cobros con tarjeta, transferencias y
                    pago a proveedores a través de Qrs.
                  </p>
                </div>
              </li>
              <li
                class="max-[1100px]:max-w-[650px] max-[550px]:w-[75vw] h-[600px] max-[1440px]:h-[500px] max-[900px]:h-[450px] max-[1280px]:h-[460px] flex justify-center items-center"
              >
                <div
                  class="card text-white relative overflow-hidden rounded-[40px] max-[550px]:w-[70vw] border p-10 pb-16 border-blue-800 flex flex-col justify-between items-start h-full w-[525px] max-[385px]:w-[250px] max-[1440px]:w-[400px] max-[1280px]:w-[380px] max-[1100px]:w-[400px]"
                >
                  <video
                    class="absolute h-full top-0 left-0 object-cover"
                    autoplay
                    muted
                    loop
                    playsinline
                  >
                    <source src="/video3.mp4" type="video/mp4" />
                  </video>
                  <span
                    class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
                  ></span>
                  <div
                    class="flex justify-between max-[550px]:justify-center items-start w-full z-20 gap-2"
                  >
                    <h3
                      class="text-5xl leading-[.8] max-[1440px]:text-4xl max-[1280px]:text-3xl max-[1280px]:leading-7 max-[550px]:text-2xl max-[550px]:w-full max-[1440px]:leading-8"
                    >
                      SOMOS <br /><span class="font-CoFoBold"
                        >GENERADORES DE PRODUCTOS</span
                      >
                    </h3>
                    <span
                      class="font-semibold text-5xl -tracking-widest max-[1440px]:text-4xl max-[1280px]:text-3xl max-[400px]:hidden text-blue-200"
                      >)))</span
                    >
                  </div>
                  <p
                    class="text-xl max-[1440px]:text-sm max-[1440px]:leading-4 max-[400px]:text-[9px] font-CoFoMedium max-[1366px]:font-normal max-[400px]:w-full max-[1280px]:leading-3 z-20 leading-5"
                  >
                    Facilitamos soluciones B2B y B2B2C a medida, configuradas de
                    acuerdo al tipo de negocio, sus colaboradores y clientes.
                    Adquirencia, billeteras, terminales de puntos de venta y
                    más, integrables a distintos ecosistemas digitales.
                  </p>
                </div>
              </li>
              <li
                class="max-[1100px]:max-w-[650px] max-[550px]:w-[75vw] h-[600px] max-[1440px]:h-[500px] max-[900px]:h-[450px] max-[1280px]:h-[460px] flex justify-center items-center"
              >
                <div
                  class="card text-white relative overflow-hidden rounded-[40px] max-[550px]:w-[70vw] border p-10 pb-16 border-blue-800 flex flex-col justify-between items-start h-full w-[525px] max-[385px]:w-[250px] max-[1440px]:w-[400px] max-[1280px]:w-[380px] max-[1100px]:w-[400px]"
                >
                  <video
                    class="absolute h-full top-0 left-0 object-cover"
                    autoplay
                    muted
                    loop
                    playsinline
                  >
                    <source src="/video4.mp4" type="video/mp4" />
                  </video>
                  <span
                    class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
                  ></span>
                  <div
                    class="flex justify-between max-[550px]:justify-center items-start w-full z-20 gap-2"
                  >
                    <h3
                      class="text-5xl leading-[.8] max-[1440px]:text-4xl max-[1280px]:text-3xl max-[1280px]:leading-7 max-[550px]:text-2xl max-[550px]:w-full max-[1440px]:leading-8"
                    >
                      ARQUITECTOS <br /><span class="font-CoFoBold"
                        >DE SOLUCIONES FINANCIERAS</span
                      >
                    </h3>
                    <span
                      class="font-CoFoBold text-5xl -tracking-widest max-[1440px]:text-4xl max-[1280px]:text-3xl max-[400px]:hidden text-blue-200"
                      >)))</span
                    >
                  </div>
                  <p
                    class="text-xl max-[1440px]:text-sm max-[1440px]:leading-4 max-[400px]:text-[9px] font-CoFoMedium max-[1366px]:font-normal max-[400px]:w-full max-[1280px]:leading-3 z-20 leading-5"
                  >
                    Diseñamos, integramos y optimizamos ecosistemas financieros
                    con visión estratégica. Creamos entornos simples, seguros y
                    escalables que impulsan la innovación y el crecimiento
                    sostenible de tu negocio.
                  </p>
                </div>
              </li>
            </li>
          </ul>
        </div>
      </section>
    </section>

    <!-- PARTNERSHIP -->
    <section
      class="bg-gradient-to-t to-[#1b2027] from-[#001228] h-[110vh] max-[1000px]:h-fit max-[1000px]:py-20 max-[700px]:h-full max-[700px]:pb-0 flex justify-center items-center flex-col"
    >
      <div class="flex justify-center items-center flex-col h-full">
        <div class="flex justify-center items-center flex-col">
          <h3
            class="text-blue-100 w-4/5 font-CoFoMedium text-lg max-[1366px]:text-base pb-4"
          >
            EN ))) PARTNERSHIP ))) CON
          </h3>
          <div
            class="grid grid-cols-2 max-[700px]:grid-cols-1 gap-10 py-20 border-y-2 max-[700px]:border-b-0 border-gray-500 w-4/5"
          >
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="/parnership-mastercard.webp"
                alt="mastercard logo"
              />
            </div>
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="/partnership-credencial.webp"
                alt="credencial payments logo"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <style>
    .bg-color-contact {
      background: rgb(4, 18, 38);
      background: linear-gradient(
        90deg,
        rgba(4, 18, 38, 1) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }
    .bg-animation-home {
      animation-name: bg-contact;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
    }
    .bg-animation-home1 {
      animation-name: bg-animation-home;
      animation-duration: 4s;
    }
    .bg-animation-home2 {
      animation-name: bg-animation-home2;
      animation-duration: 7s;
    }
    .bg-animation-home3 {
      animation-name: bg-animation-home3;
      animation-duration: 5s;
    }
    @keyframes bg-animation-home {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0.2;
      }
      100% {
        opacity: 0;
        left: 60%;
      }
    }
    @keyframes bg-animation-home2 {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0.2;
      }
      100% {
        left: 45%;
        opacity: 0;
      }
    }
    @keyframes bg-animation-home3 {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0.2;
      }
      100% {
        left: 30%;
        opacity: 0;
      }
    }
  </style>
</Layout>
