---
import Layout from "../layouts/Layout.astro";
import HeroVideo from "/Hero-Home-Video.mp4";
import Contact from "../components/Contact.astro";
---

<Layout title="BYU_Home">
  <main>
    <section class="bg-black relative h-screen overflow-hidden">
      <div
        class="z-20 relative text-white flex flex-col w-full h-full justify-center items-center"
      >
        <div class="flex justify-center items-center h-full max">
          <header
            class="flex justify-center items-start flex-col gap-6 max-[1367px]:pt-20 w-[550px] max-[700px]:w-full max-[700px]:px-10 relative left-44 max-[1000px]:left-0"
          >
            <p class="font-semibold text-xs tracking-widest">
              BESPOKE FINTECH-INSURTECH SOLUTIONS
            </p>
            <h1
              class="text-7xl max-[1366px]:text-6xl max-[1280px]:text-5xl max-[480px]:text-4xl"
            >
              <span class="font-black">FACILITAMOS</span> LA <span
                class="whitespace-nowrap">))) INTEGRACIÓN )))</span
              > DE ECOSISTEMAS DE PAGO.
            </h1>
            <p class="font-medium text-lg max-[480px]:text-base">
              Desde la emisión de tarjetas hasta la gestión de pagos digitales,
              nuestras herramientas personalizadas impulsan el crecimiento
              financiero de su empresa.
            </p>
            <a class="font-bold text-xl border-b-2 max-[480px]:text-lg" href="#"
              >Conozca más ↗</a
            >
          </header>
        </div>
        <footer
          class="flex flex-grow flex-row justify-between max-[480px]:justify-center px-36 w-full items-center pb-9 max-[800px]:px-10"
        >
          <div class="flex gap-3 max-[480px]:hidden">
            <img class="w-12" src="\Mastercar-Icon.svg" alt="Mastercar Logo" />
            <span class="font-semibold tracking-widest text-[12px]">
              <p class="p-0">SOMOS</p>
              <p class="p-0">MASTERCARD</p>
              <p class="p-0">PARTNERS</p>
            </span>
          </div>
          <img class="rotate-90 w-4" src="\Hero-Arrow.png" alt="Flecha guia" />
          <span class="font-medium text-[11px] max-[480px]:hidden"
            >© 2024 BY URBANA</span
          >
        </footer>
      </div>
      <span class="bg-[#04122675] absolute top-0 left-0-0 z-10 w-full h-full">
      </span>
      <video
        class="object-center absolute top-0 left-0 object-cover w-full h-full"
        autoplay
        muted
        loop
      >
        <source src={HeroVideo} type="video/mp4" />
      </video>
    </section>
    <section
      class="bg-[#041226] h-screen justify-center items-center flex flex-col hola"
    >
      <div
        class="text-white flex justify-center items-center flex-col relative gap-10 "
      >
        <span class="text-sm font-medium tracking-widest"
          >BIENVENIDO A BY URBANA</span
        >
        <h2
          class="text-7xl max-[1440px]:text-6xl max-[1367px]:text-5xl max-[1025px]:text-4xl max-[500px]:text-3xl w-3/4 text-[#cce8fa]"
        >
          <span class="font-bold text-white"
            >Nuestro objetivo es brindarte una solución digital integral que
            funcione como tu propio banco digital, totalmente personalizado.</span
          >
          Sumamos valor a tu ecosistema ofreciendo nuevas alternativas comerciales
          y financieras que te ayudan a alcanzar tus metas con la mayor rentabilidad
          posible.
        </h2>
        <div class="flex items-center justify-center">
          <a class="font-bold text-xl border-b-2 text-white" href="#"
            >Conozca más ↗</a
          >
        </div>
      </div>
    </section>
    <section
      class="flex flex-row h-screen overflow-hidden border-t max-[1100px]:flex-col max-[1100px]:h-full max-[1100px]:"
    >
      <section class="relative bg-[#727375] z-30">
        <div
          class="text-white w-[35vw] p-6 max-[1100px]:py-20 h-full top-0 left-0 flex justify-evenly max-[1100px]:justify-center max-[800px]:gap-8 max-[1100px]:w-full items-start flex-col max-[800px]:flex-col shadow-[2px_-3px_19px_0] shadow-[#adc6fb99] max-[1100px]:shadow-none max-[1100px]:flex-row max-[1100px]:items-center"
        >
          <div
            class="text-blue-100 max-[1100px]:items-center max-[1100px]:pl-0 flex justify-center items-start flex-col gap-8 pl-24 max-[1440px]:pl-10 max-[1100px]:flex-row max-[800px]:flex-col"
          >
            <h2
              class="text-5xl max-[1440px]:text-4xl max-[1025px]:text-2xl max-[800px]:max-w-[500px]"
            >
              CREA ))) UN ECOSISTEMA FINANCIERO <span class="font-bold"
                >ÚNICO</span
              > , DISEÑADO PARA OPTIMIZAR CADA TRANSACCION EN TU NEGOCIO
            </h2>
            <p
              class="w-72 max-[1100px]:w-full font-semibold text-lg max-[1025px]:text-base -tracking-wider max-[800px]:max-w-[500px]"
            >
              Simplifica tu negocio con soluciones financieras innovadoras que
              transforman la manera en que cobras y pagas.
            </p>
            <a
              class="font-bold text-xl max-[1025px]:text-lg border-b-2 border-blue-200 text-nowrap"
              href="#">Contacte ahora ↗</a
            >
          </div>
          <div
            class="flex flex-col justify-start items-start font-semibold pl-24 max-[1100px]:pl-10 text-lg max-[1025px]:text-base leading-5 max-[800px]:pl-0"
          >
            <p><span class="font-extrabold">SOMOS</span></p>
            <p>EMISORES</p>
            <p>PROCESADORES</p>
            <p>GENERADORES</p>
            <p>CONSULTORES</p>
          </div>
        </div>
      </section>
      <section
        class="bg-[#041226] w-full pl-32 max-[1100px]:pl-0 max-[1100px]:py-20"
      >
        <div class="flex justify-center gap-24 items-center h-full">
          <div
            class="card max-w-[500px] max-[500px]:min-w-[350px] text-white relative overflow-hidden min-w-[30vw] max-[1100px]:h-[600px] max-[1100px]:min-w-[400px] rounded-[40px] border p-10 border-blue-800 flex flex-col h-4/5 justify-between items-start"
          >
            <video
              class="absolute h-full top-0 left-0 object-cover"
              autoplay
              muted
              loop
            >
              <source src="/video1.mp4" type="video/mp4" />
            </video>
            <span
              class="bg-[#04122675] absolute z-10 h-full w-full top-0 left-0 object-cover"
            ></span>
            <div class="flex justify-between items-start w-full z-20">
              <h3 class="text-5xl max-[500px]:text-3xl">
                SOMOS <br /><span class="font-semibold">EMISORES</span>
              </h3>
              <span class="font-semibold text-5xl max-[500px]:text-3xl"
                >)))</span
              >
            </div>
            <p
              class="text-lg font-semibold w-72 z-20 leading-5 max-[500px]:text-sm"
            >
              Desarrollamos <span class="font-extrabold"
                >soluciones de pago personalizadas</span
              > para empresas, ajustadas a tus necesidades, respaldadas por un compromiso
              continuo con la innovación. Simplificamos y potenciamos tus transacciones
              financieras.
            </p>
          </div>
          <div
            class="card max-w-[500px] max-[500px]:min-w-[350px] text-white relative overflow-hidden min-w-[30vw] max-[1100px]:h-[600px] max-[1100px]:min-w-[400px] rounded-[40px] border p-10 border-blue-800 flex flex-col h-4/5 justify-between items-start"
          >
            <video
              class="absolute h-full top-0 left-0 object-cover"
              autoplay
              muted
              loop
            >
              <source src="/video2.mp4" type="video/mp4" />
            </video>
            <span
              class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
            ></span>
            <div class="flex justify-between items-start w-full z-20">
              <h3 class="text-5xl max-[500px]:text-3xl">
                SOMOS <br /><span class="font-semibold">PROCESADORES</span>
              </h3>
              <span class="font-semibold text-5xl max-[500px]:text-3xl"
                >)))</span
              >
            </div>
            <p
              class="text-lg font-semibold w-72 z-20 leading-5 max-[500px]:text-sm"
            >
              Administramos <span class="font-extrabold"
                >transacciones con estándares de seguridad y eficiencia líderes</span
              > , asegurando la tranquilidad de nuestros clientes. Nuestra máxima
              prioridad es la dedicación a la protección de tus operaciones financieras.
            </p>
          </div>
          <div
            class="card max-w-[500px] max-[500px]:min-w-[350px] text-white relative overflow-hidden min-w-[30vw] max-[1100px]:h-[600px] max-[1100px]:min-w-[400px] rounded-[40px] border p-10 border-blue-800 flex flex-col h-4/5 justify-between items-start"
          >
            <video
              class="absolute h-full top-0 left-0 object-cover"
              autoplay
              muted
              loop
            >
              <source src="/video3.mp4" type="video/mp4" />
            </video>
            <span
              class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
            ></span>
            <div class="flex justify-between items-start w-full z-20">
              <h3 class="text-5xl max-[500px]:text-3xl">
                SOMOS <br /><span class="font-semibold"
                  >GENERADORES DE PRODUCTOS</span
                >
              </h3>
              <span class="text-5xl max-[500px]:text-3xl">)))</span>
            </div>
            <p
              class="text-lg font-semibold w-72 z-20 leading-5 max-[500px]:text-sm"
            >
              Desarrollamos soluciones de pago personalizadas para empresas,
              ajustadas a tus necesidades, respaldadas por un compromiso
              constante con la innovación. Simplificamos y potenciamos tus
              transacciones financieras.
            </p>
          </div>
          <div
            class="card max-w-[500px] max-[500px]:min-w-[350px] text-white relative overflow-hidden min-w-[30vw] max-[1100px]:h-[600px] max-[1100px]:min-w-[400px] rounded-[40px] border p-10 border-blue-800 flex flex-col h-4/5 justify-between items-start"
          >
            <video
              class="absolute h-full top-0 left-0 object-cover"
              autoplay
              muted
              loop
            >
              <source src="/video4.mp4" type="video/mp4" />
            </video>
            <span
              class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
            ></span>
            <div class="flex justify-between items-start w-full z-20">
              <h3 class="text-5xl max-[500px]:text-3xl">
                SOMOS <br /><span class="font-semibold">CONSULTORES</span>
              </h3>
              <span class="text-5xl max-[500px]:text-3xl">)))</span>
            </div>
            <p
              class="text-lg font-semibold w-72 z-20 leading-5 max-[500px]:text-sm"
            >
              Brindamos <span class="font-extrabold"
                >asesoramiento experto en pagos y finanzas,</span
              > impulsando el éxito de nuestros clientes. Nuestro compromiso es ser
              tu socio estratégico en cada paso del camino.
            </p>
          </div>
        </div>
      </section>
    </section>
    <!-- PARTNERSHIP -->
    <section
      class="bg-gray-900 h-[110vh] max-[700px]:h-full max-[700px]:py-20 flex justify-center items-center flex-col"
    >
      <div class="flex justify-center items-center flex-col h-full">
        <div class="flex justify-center items-center flex-col">
          <h3 class="text-blue-100 font-medium text-lg pb-4">
            EN ))) PARTNERSHIP ))) CON
          </h3>
          <div
            class="grid grid-cols-2 max-[700px]:grid-cols-1 gap-10 py-20 border-y-2 max-[700px]:border-y-0 border-gray-500 w-4/5"
          >
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="parnership-binance.webp"
                alt="binance logo"
              />
            </div>
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="\parnership-mastercard.webp"
                alt="mastercard logo"
              />
            </div>
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="\partnership-plataforma10.webp"
                alt="plataforma10 logo"
              />
            </div>
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="\partnership-credencial.webp"
                alt="credencial payments logo"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <Contact />
  </main>
</Layout>

<style>

</style>
