---
import Layout from "../layouts/Layout.astro";
import HeroVideo from "/Hero-Home-Video.mp4";
import Contact from "../components/Contact.astro";
// Tema predeterminado
import "@splidejs/splide/css";

// u otros temas
import "@splidejs/splide/css/skyblue";
import "@splidejs/splide/css/sea-green";

//o solo estilos principales
import "@splidejs/splide/css/core";
---

<Layout title="ByUrbana">
  <main>
    <section class="bg-black relative h-screen overflow-hidden">
      <div
        class="z-20 relative text-white flex flex-col w-full h-full justify-center items-center"
      >
        <div class="flex justify-center items-center h-full max">
          <header
            class="flex justify-center items-start flex-col gap-4 pt-32 max-[1440px]:pt-20 w-[550px] max-[1680px]:w-[500px] max-[700px]:w-full max-[700px]:px-10 relative left-48 max-[1440px]:left-36 max-[1000px]:left-0 max-[1440px]:w-[440px]"
          >
            <p class="font-semibold text-xs tracking-widest max-[1280px]:text-[10px]">
              BESPOKE FINTECH-INSURTECH SOLUTIONS
            </p>
            <h1
              class="text-[3.95rem] leading-none max-[1440px]:text-5xl max-[480px]:text-4xl max-[1680px]:text-[3.7rem] max-[1280px]:text-[2.7rem] max-[1280px]:leading-none"
            >
              <span class="font-black">FACILITAMOS</span> LA <span
                class="whitespace-nowrap">))) INTEGRACIÓN )))</span
              > DE ECOSISTEMAS DE PAGO.
            </h1>
            <p class="font-medium text-lg max-[480px]:text-xs max-[1000px]:font-bold leading-5 max-[1440px]:text-sm max-[1440px]:leading-4 max-[1280px]:leading-3 w-4/5 max-[1000px]:w-full ">
              Desde la emisión de tarjetas hasta la gestión de pagos digitales,
              nuestras herramientas personalizadas impulsan el crecimiento
              financiero de su empresa.
            </p>
            <a class="font-bold text-xl border-b-2 max-[480px]:text-sm max-[1680px]:text-lg max-[1440px]:text-base max-[1280px]:text-sm" href="#"
              >Conozca más ↗</a
            >
          </header>
        </div>
        <footer
          class="flex flex-grow flex-row justify-between max-[480px]:justify-center px-36 w-full items-center pb-7 max-[800px]:px-10"
        >
          <div class="flex gap-3 max-[480px]:hidden">
            <img class="w-12 max-[1366px]:w-10" src="\Mastercar-Icon.svg" alt="Mastercar Logo" />
            <span class="font-semibold tracking-widest leading-3 text-[12px] max-[1366px]:text-[10px]">
              <p class="p-0">SOMOS</p>
              <p class="p-0">MASTERCARD</p>
              <p class="p-0">PARTNERS</p>
            </span>
          </div>
          <img class="rotate-90 w-4" src="\Hero-Arrow.png" alt="Flecha guia" />
          <span class="font-medium text-[11px] max-[1440px]:text-[9px] max-[480px]:hidden"
            >© 2024 BY URBANA</span
          >
        </footer>
      </div>
      <span class="bg-[#04122675] absolute top-0 left-0-0 z-10 w-full h-full">
      </span>
      <video
        class="object-center absolute top-0 left-0 object-cover w-full h-full"
        autoplay
        muted
        loop
      >
        <source src={HeroVideo} type="video/mp4" />
      </video>
    </section>
    <section
      class="bg-[#041226 h-screen max-[1000px]:h-fit pt-20 pb-36 justify-center relative items-center flex flex-col bg-gradient-to-t from-[#1b2027] to70% to-[#001228] overflow-hidden"
    >
      <img
        class="absolute bg-animation-home bg-animation-home1 h-[90%] left-[55%] max-xl:hidden"
        src="\image-bdef654d-9f87-4b08-8dc7-2b6579f397cc.webp"
        alt=""
      />
      <img
        class="absolute bg-animation-home bg-animation-home2 h-[90%] left-[40%] max-xl:hidden"
        src="\image-bdef654d-9f87-4b08-8dc7-2b6579f397cc.webp"
        alt=""
      />
      <img
        class="absolute bg-animation-home bg-animation-home3 h-[90%] left-[25%] max-xl:hidden"
        src="\image-bdef654d-9f87-4b08-8dc7-2b6579f397cc.webp"
        alt=""
      />
      <div
        class="text-white grid grid-cols-1 relative gap-10 w-5/6"
      >
        <span class="text-sm font-medium tracking-widest max-[1440px]:text-[10px] "
          >BIENVENIDO A BY URBANA</span
        >
        <h2
          class="text-7xl max-[1680px]:text-[4.1srem] max-[1440px]:text-[3.5rem] max-[1366px]:text-[3.2rem] max-[1440px]:pt-0 max-[1025px]:text-4xl max-[500px]:text-3xl  text-[#cce8fa] justify-self-center"
        >
          <span class="font-bold text-white"
            >Nuestro objetivo es brindarte una solución digital integral que
            funcione como tu propio banco digital, totalmente personalizado.</span
          >
          Sumamos valor a tu ecosistema ofreciendo nuevas alternativas comerciales
          y financieras que te ayudan a alcanzar tus metas con la mayor rentabilidad
          posible.
        </h2>
      </div>
      <div class="flex items-center justify-center justify-self-en absolute bottom-0 right-0 py-24 max-[1440px]:py-20 px-28">
        <a class="font-bold text-xl max-[1440px]:text-sm border-b-2 text-white" href="#"
          >Conozca más ↗</a
        >
      </div>
    </section>
    <section
      class="flex flex-row w-full h-screen overflow-hidden border-t max-[1100px]:flex-col max-[1100px]:h-full max-[1100px]:"
    >
      <section class="relative bg-[#727375] z-30">
        <div
          class="w-[35vw] p-6 max-[1100px]:py-20 pl-28 max-[1280px]:px-10  h-full top-0 left-0 flex justify-evenly max-[1100px]:justify-center max-[800px]:gap-8 max-[1100px]:w-full items-start flex-col max-[800px]:flex-col shadow-[2px_-3px_19px_0] shadow-[#adc6fb99] max-[1100px]:shadow-none max-[1100px]:flex-row max-[1100px]:items-center"
        >
          <div
            class="text-[#cce8fa] max-[1100px]:items-center max-[1100px]:pl-0 flex justify-center items-start flex-col gap-8 max-[1100px]:flex-row max-[800px]:flex-col"
          >
            <h2
              class="text-5xl max-[1680px]:text-4xl max-[1366px]:text-3xl max-[1366px]:leading-7 max-[1025px]:text-2xl max-[800px]:max-w-[500px]"
            >
              CREA ))) UN ECOSISTEMA FINANCIERO <span class="font-bold"
                >ÚNICO</span
              > , DISEÑADO PARA OPTIMIZAR CADA TRANSACCION EN TU NEGOCIO
            </h2>
            <p
              class="w-72 max-[1100px]:w-full font-semibold text-lg max-[1366px]:text-sm max-[1366px]:leading-4 max-[1025px]:text-base leading-5 max-[800px]:max-w-[500px]"
            >
              Simplifica tu negocio con soluciones financieras innovadoras que
              transforman la manera en que cobras y pagas.
            </p>
            <a
              class="font-bold text-xl max-[1366px]:text-base border-b-2 border-blue-200 text-nowrap"
              href="#">Contacte ahora ↗</a
            >
          </div>
          <div
            class="text-white flex flex-col justify-start items-start font-semibold max-[1100px]:pl-10 text-lg max-[1366px]:text-sm max-[1366px]:leading-4 leading-5 max-[800px]:pl-0"
          >
            <p><span class="font-extrabold">SOMOS</span></p>
            <p>EMISORES</p>
            <p>PROCESADORES</p>
            <p>GENERADORES</p>
            <p>CONSULTORES</p>
          </div>
        </div>
      </section>
      <section
        class="bg-[#041226] w-[calc(100%-30vw)] max-[1100px]:w-[100%] l-32 max-[1100px]:pl-0 max-[1100px]:py-12 max-[1100px]:h-[90vh]"
      >
        <div class="splide h-full">
          <div class="splide__track !pl-0 h-full">
            <ul class="splide__list items-center w-full">
              <li
                class="splide__slide !w-[650px] max-[1100px]:!w-[75vw] max-[1100px]:max-w-[650px] max-[550px]:!w-[75vw] h-4/5 max-[1100px]:h-full flex justify-center items-center max-[900px]:!w-[100v]"
              >
                <div
                  class="card text-white relative overflow-hidden rounded-[40px] border p-10 border-blue-800 flex flex-col justify-between items-start h-full w-[500px] max-[1100px]:w-[65vw] max-[1100px]:max-w-[500px] max-[550px]:w-[90%]"
                >
                  <video
                    class="absolute h-full top-0 left-0 object-cover"
                    autoplay
                    muted
                    loop
                  >
                    <source src="/video1.mp4" type="video/mp4" />
                  </video>
                  <span
                    class="bg-[#04122675] absolute z-10 h-full w-full top-0 left-0 object-cover"
                  ></span>
                  <div
                    class="flex justify-between max-[550px]:justify-center items-start w-full z-20"
                  >
                    <h3
                      class="text-5xl max-[1100px]:text-3xl max-[550px]:text-2xl max-[550px]:w-full"
                    >
                      SOMOS <br /><span class="font-semibold">EMISORES</span>
                    </h3>
                    <span
                      class="font-semibold text-5xl max-[1100px]:text-3xl max-[550px]:text-2xl"
                      >)))</span
                    >
                  </div>
                  <p
                    class="text-lg font-semibold w-72 z-20 leading-5 max-[1100px]:text-base max-[550px]:text-sm max-[550px]:w-full"
                  >
                    Desarrollamos <span class="font-extrabold"
                      >soluciones de pago personalizadas</span
                    > para empresas, ajustadas a tus necesidades, respaldadas por
                    un compromiso continuo con la innovación. Simplificamos y potenciamos
                    tus transacciones financieras.
                  </p>
                </div>
              </li>
              <li
                class="splide__slide max-[1100px]:!w-[75vw] max-[1100px]:max-w-[650px] max-[550px]:!w-[75vw] h-4/5 !w-[650px] max-[1100px]:h-full flex justify-center items-center"
              >
                <div
                  class="card text-white relative overflow-hidden rounded-[40px] border p-10 border-blue-800 flex flex-col justify-between items-start h-full w-[500px] max-[1100px]:w-[65vw] max-[1100px]:max-w-[500px] max-[550px]:w-[90%]"
                >
                  <video
                    class="absolute h-full top-0 left-0 object-cover"
                    autoplay
                    muted
                    loop
                  >
                    <source src="/video2.mp4" type="video/mp4" />
                  </video>
                  <span
                    class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
                  ></span>
                  <div
                    class="flex justify-between max-[550px]:justify-center items-start w-full z-20"
                  >
                    <h3
                      class="text-5xl max-[1100px]:text-3xl max-[550px]:text-2xl max-[550px]:w-full"
                    >
                      SOMOS <br /><span class="font-semibold">PROCESADORES</span
                      >
                    </h3>
                    <span
                      class="font-semibold text-5xl max-[1100px]:text-3xl max-[550px]:text-2xl"
                      >)))</span
                    >
                  </div>
                  <p
                    class="text-lg font-semibold w-72 z-20 leading-5 max-[1100px]:text-base max-[550px]:text-sm max-[550px]:w-full"
                  >
                    Administramos <span class="font-extrabold"
                      >transacciones con estándares de seguridad y eficiencia
                      líderes</span
                    > , asegurando la tranquilidad de nuestros clientes. Nuestra
                    máxima prioridad es la dedicación a la protección de tus operaciones
                    financieras.
                  </p>
                </div>
              </li>
              <li
                class="splide__slide !w-[650px] max-[1100px]:!w-[75vw] max-[1100px]:max-w-[650px] max-[550px]:!w-[75vw] h-4/5 max-[1100px]:h-full flex justify-center items-center max-[900px]:!w-[100v]"
              >
                <div
                  class="card text-white relative overflow-hidden rounded-[40px] border p-10 border-blue-800 flex flex-col justify-between items-start h-full w-[500px] max-[1100px]:w-[65vw] max-[1100px]:max-w-[500px] max-[550px]:w-[90%]"
                >
                  <video
                    class="absolute h-full top-0 left-0 object-cover"
                    autoplay
                    muted
                    loop
                  >
                    <source src="/video3.mp4" type="video/mp4" />
                  </video>
                  <span
                    class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
                  ></span>
                  <div
                    class="flex justify-between max-[550px]:justify-center items-start w-full z-20"
                  >
                    <h3
                      class="text-5xl max-[1100px]:text-3xl max-[550px]:text-2xl max-[550px]:w-full"
                    >
                      SOMOS <br /><span class="font-semibold"
                        >GENERADORES DE PRODUCTOS</span
                      >
                    </h3>
                    <span
                      class="text-5xl max-[500px]:text-3xl max-[550px]:text-2xl"
                      >)))</span
                    >
                  </div>
                  <p
                    class="text-lg font-semibold w-72 z-20 leading-5 max-[550px]:text-sm max-[550px]:w-full"
                  >
                    Desarrollamos soluciones de pago personalizadas para
                    empresas, ajustadas a tus necesidades, respaldadas por un
                    compromiso constante con la innovación. Simplificamos y
                    potenciamos tus transacciones financieras.
                  </p>
                </div>
              </li>
              <li
                class="splide__slide !w-[650px] max-[1100px]:!w-[75vw] max-[1100px]:max-w-[650px] max-[550px]:!w-[75vw] h-4/5 max-[1100px]:h-full flex justify-center items-center max-[900px]:!w-[100v]"
              >
                <div
                  class="card text-white relative overflow-hidden rounded-[40px] border p-10 border-blue-800 flex flex-col justify-between items-start h-full w-[500px] max-[1100px]:w-[65vw] max-[1100px]:max-w-[500px] max-[550px]:w-[90%]"
                >
                  <video
                    class="absolute h-full top-0 left-0 object-cover"
                    autoplay
                    muted
                    loop
                  >
                    <source src="/video4.mp4" type="video/mp4" />
                  </video>
                  <span
                    class="bg-[#04122675] absolute z-10 w-full h-full top-0 left-0 object-cover"
                  ></span>
                  <div
                    class="flex justify-between max-[550px]:justify-center items-start w-full z-20"
                  >
                    <h3
                      class="text-5xl max-[1100px]:text-3xl max-[550px]:text-2xl max-[550px]:w-full"
                    >
                      SOMOS <br /><span class="font-semibold">CONSULTORES</span>
                    </h3>
                    <span
                      class="text-5xl max-[500px]:text-3xl max-[550px]:text-2xl"
                      >)))</span
                    >
                  </div>
                  <p
                    class="text-lg font-semibold w-72 z-20 leading-5 max-[550px]:text-sm max-[550px]:w-full"
                  >
                    Brindamos <span class="font-extrabold"
                      >asesoramiento experto en pagos y finanzas,</span
                    > impulsando el éxito de nuestros clientes. Nuestro compromiso
                    es ser tu socio estratégico en cada paso del camino.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>
    <!-- PARTNERSHIP -->
    <section
      class="bg-gradient-to-t to-[#1b2027]  from-[#001228] h-[110vh] max-[1000px]:h-fit max-[1000px]:py-20 max-[700px]:h-full max-[700px]:py-20 flex justify-center items-center flex-col"
    >
      <div class="flex justify-center items-center flex-col h-full">
        <div class="flex justify-center items-center flex-col">
          <h3 class="text-blue-100 w-4/5 font-medium text-lg max-[1366px]:text-base pb-4">
            EN ))) PARTNERSHIP ))) CON
          </h3>
          <div
            class="grid grid-cols-2 max-[700px]:grid-cols-1 gap-10 py-20 border-y-2 max-[700px]:border-y-0 border-gray-500 w-4/5"
          >
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="parnership-binance.webp"
                alt="binance logo"
              />
            </div>
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="\parnership-mastercard.webp"
                alt="mastercard logo"
              />
            </div>
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="\partnership-plataforma10.webp"
                alt="plataforma10 logo"
              />
            </div>
            <div
              class="flex justify-center items-center rounded-3xl bg-white w-full max-[700px]:h-[18vh] h-[20vh]"
            >
              <img
                class="w-2/4"
                src="\partnership-credencial.webp"
                alt="credencial payments logo"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <Contact />
  </main>
</Layout>

<style>
  .bg-color-contact {
    background: rgb(4, 18, 38);
    background: linear-gradient(
      90deg,
      rgba(4, 18, 38, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .bg-animation-home {
    animation-name: bg-contact;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  .bg-animation-home1 {
    animation-name: bg-animation-home;
    animation-duration: 4s;
  }
  .bg-animation-home2 {
    animation-name: bg-animation-home2;
    animation-duration: 7s;
  }
  .bg-animation-home3 {
    animation-name: bg-animation-home3;
    animation-duration: 5s;
  }
  @keyframes bg-animation-home {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.2;
    }
    100% {
      opacity: 0;
      left: 60%;
    }
  }
  @keyframes bg-animation-home2 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.2;
    }
    100% {
      left: 45%;
      opacity: 0;
    }
  }
  @keyframes bg-animation-home3 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.2;
    }
    100% {
      left: 30%;
      opacity: 0;
    }
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  var splide = new Splide(".splide", {
    wheel: true,
    perPage: 1,
    arrows: false,
    pagination: false,
    autoWidth: true,
    width: "100%",
    speed: 1500,
    padding: "10rem",
    breakpoints: {
      1100: {
        wheel: false,
      },
      breakpoints: {
        550: {
          gap: "2rem",
        },
      },
    },
  });

  splide.mount();
</script>
