---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import HeroPages from "../components/HeroPages.astro";
---

<Layout title="BYU_Modelos">
  <main class="bg-blue-600">
    <HeroPages title="Modelos" />
    <Banner url="\superapp-bannner.webp" />
    <section class="grid place-content-center w-full pb-28">
      <div class="flex justify-center items-center flex-col gap-16 w-full view">
        <div
          class="flex justify-center items-center gap-16 flex-row w-4/5 max-[1280px]:w-full max-[1280px]:flex-col views"
        >
          <video
            class="w-2/4 max-[800px]:w-[90vw] h-full object-cover rounded-3xl"
            autoplay
            muted
            loop
            playsinline
          >
            <source src="/daraval-video.mp4" type="video/mp4" />
          </video>
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-center flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <div class="flex justify-center items-start flex-col gap-5">
              <h2 class="text-5xl text-blue-600 font-CoFoMedium">
                Modelo Insurtech
              </h2>
              <ul class="flex justify-center items-start flex-col gap-3">
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Pago</span> de pólizas
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Acceso</span> al ecosistema
                  de mundo urbana
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Pago</span> a colaboradores.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Disperción</span> de fondos.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Monitoreo</span> de gastos
                  y movimientos.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Reporte</span> financieros
                  mensuales.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Rebulneración </span>
                  de dinero en cuenta.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="flex justify-center items-center flex-row gap-16 w-4/5 max-[1280px]:w-full max-[1280px]:flex-col-reverse views"
        >
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-center flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <div class="flex justify-center items-start flex-col gap-5">
              <h2 class="text-5xl text-blue-600 font-CoFoMedium">
                Modelo Empresa
              </h2>
              <ul class="flex justify-center items-start flex-col gap-3">
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Digitalización</span>
                  de la economía de las empresas
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Acceso</span> al ecosistema
                  de mundo urbana
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Pago</span> a colaboradores
                  y disperción de fondos.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Monitoreo</span> de gastos.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Entrega</span> de gift cards.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Reporte</span> financieros
                  mensuales.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Parametrización</span>
                  para gastos en rubros especificos.
                </li>
              </ul>
            </div>
          </div>
          <video
            class="w-2/4 h-full object-cover rounded-3xl max-[800px]:w-[90vw]"
            autoplay
            muted
            loop
            playsinline
          >
            <source src="/urbanaGo-video.mp4" type="video/mp4" />
          </video>
        </div>
        <div
          class="flex justify-center items-center flex-row gap-16 w-4/5 max-[1280px]:w-full max-[1280px]:flex-col views"
        >
          <video
            class="w-2/4 h-full object-cover rounded-3xl max-[800px]:w-[90vw]"
            autoplay
            muted
            loop
            playsinline
          >
            <source src="/tableFast-video.mp4" type="video/mp4" />
          </video>
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-center flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <div class="flex justify-center items-start flex-col gap-5">
              <h2 class="text-5xl text-blue-600 font-CoFoMedium">
                Modelo Cooperativa
              </h2>
              <ul class="flex justify-center items-start flex-col gap-3">
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Posibilidad</span>
                  de diferir los pagos en cuotas hasta 36 meses.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Simulación</span> de planes
                  de cuotas.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Reportes</span> financieros
                  mensuales.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Parametrización</span>
                  para gastos en rubros especificos.
                </li>
                <li class="text-gray-600 text-lg">
                  <span class="text-blue-600 font-semibold">⭢</span>
                  <span class="italic font-CoFoMedium">Transferencias</span>
                  Card to Card entre usuarios de la misma billetera
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div
          class="flex justify-center items-center flex-row w-4/5 max-[1280px]:w-full max-[1280px]:flex-col-reverse views"
        >
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-center flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <h2
              class="text-6xl max-[1500px]:text-5xl max-[900px]:text-4xl max-[450px]:text-3xl"
            >
              <span class="text-blue-600">ENTRADA</span><span
                class="text-gray-600">MASTER</span
              >
              <br />
              BY)))URBANA
            </h2>
            <span class="text-3xl max-[900px]:text-2xl max-[450px]:text-xl"
              >El acceso a tus eventos, más simple que nunca.</span
            >
            <p
              class="leading-5 text-lg max-[900px]:text-base max-[450px]:text-sm"
            >
              Plataforma de ticketing simple, accesible e innovadora para la
              venta de entradas a eventos deportivos, culturales y de
              entretenimiento en vivo. Creemos en la importancia de experiencias
              compartidas, por eso hacemos que tu acceso al entretenimiento sea
              rápido y fácil.
            </p>
          </div>
          <video
            class="w-2/4 h-full object-cover rounded-3xl max-[800px]:w-[90vw]"
            autoplay
            muted
            loop
          >
            <source src="/meQuieroMudar-video.mp4" type="video/mp4" />
          </video>
        </div> -->
        <!-- <div
          class="flex justify-center items-center flex-row w-4/5 max-[1280px]:w-full max-[1280px]:flex-col views"
        >
          <video
            class="w-2/4 h-full max-[800px]:w-[90vw] object-cover rounded-3xl"
            autoplay
            muted
            loop
          >
            <source src="/meQuieroMudar-video.mp4" type="video/mp4" />
          </video>
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-start flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <h2
              class="text-6xl max-[1500px]:text-5xl max-[900px]:text-4xl max-[450px]:text-3xl"
            >
              <span class="text-blue-600">MEQUIERO</span><span
                class="text-gray-600">MUDAR</span
              >
              <br />
              BY)))URBANA
            </h2>
            <span class="text-3xl max-[900px]:text-2xl max-[450px]:text-xl"
              >Mudarte nunca fue tan fácil.</span
            >
            <p
              class="leading-5 text-lg max-[900px]:text-base max-[450px]:text-sm"
            >
              El portal ideal para comprar o alquilar tu nuevo hogar. Ofrecemos
              soluciones completas para tu mudanza, con servicios de traslado,
              mantenimiento y remodelación, respaldados por profesionales
              recomendados por la comunidad. MeQuieroMudar te acompaña en cada
              paso, haciendo que tu nueva vida comience sin complicaciones.
            </p>
          </div>
        </div> -->
      </div>
    </section>
    <!-- <section class="pb-28 pt-20 flex justify-center items-center">
      <div
        class="flex justify-center items-center gap-10 flex-col w-4/5 max-[1280px]:w-[90vw] max-[1000px]:w-4/5"
      >
        <h4
          class="border-b border-blue-300 w-full pb-6 text-xl text-blue-300 font-CoFoMedium"
        >
          Y MÁS SERVICIOS PARA VOS )))
        </h4>
        <div
          class="w-full flex justify-center items-center flex-row gap-10 max-[1000px]:flex-col"
        >
          <CardsSuperarpp title1="ENVIOS" title2="URBANA" />
          <CardsSuperarpp title1="URBANA" title2="PAY" />
          <CardsSuperarpp title1="TURISMO" title2="URBANA" />
        </div>
      </div>
    </section> -->
  </main>
</Layout>

<style>
  .views {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
