---
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";
import HeroPages from "../components/HeroPages.astro";
import Banner from "../components/Banner.astro";
import bannerVideo from "/banner-video.mp4";
---

<Layout title="BYU_Nosotros">
  <main class="bg-[#cce8fa]">
    <HeroPages title="Nosotros" bgColor="#727375" />
    <Banner url="\image-banner.webp" />
    <section class="w-full flex justify-center items-center pb-32">
      <div
        class="w-[950px] flex justify-center items-center flex-col gap-7 max-[1440px]:w-[700px] max-[1000px]:px-10"
      >
        <h3
          class="text-5xl max-[1440px]:text-4xl text-blue-600 font-normal max-[600px]:text-2xl"
        >
          En By Urbana, somos pioneros en la creación de soluciones tecnológicas
          de medios de pago adaptadas a las necesidades de cada empresa.
        </h3>
        <div
          class="flex justify-between items-center gap-10 text-2xl max-[1440px]:text-xl max-[800px]:flex-col max-[600px]:text-base"
        >
          <div
            class="bg-white rounded-full w-44 h-44 flex justify-center items-center"
          >
            <p class="font-CoFoMedium">
              <span class="text-blue-600 text-3xl">+</span> ÁGIL
            </p>
          </div>
          <div
            class="bg-white rounded-full w-44 h-44 flex justify-center items-center"
          >
            <p class="font-CoFoMedium">
              <span class="text-blue-600 text-3xl">+</span> SEGURA
            </p>
          </div>
          <div
            class="bg-white rounded-full w-44 h-44 flex justify-center items-center"
          >
            <p class="font-CoFoMedium">
              <span class="text-blue-600 text-3xl">+</span> SIMPLE
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div
        class="text-blue-200 grid grid-cols-2 h-[65vh] gap-10 mx-36 max-[1130px]:h-[100vh] max-[500px]:h-[900px] max-[800px]:mx-10 max-[1130px]:grid-cols-1"
      >
        <div class="relative overflow-hidden card">
          <div class="card-inner">
            <div
              class="card-front z-20 bg-blue-600 rounded-3xl h-full flex justify-between items-start p-10 absolute top-0 left-0 w-full text-9xl max-[1440px]:text-8xl font-CoFoBold max-[1280px]:text-6xl max-[500px]:text-5xl"
            >
              <h2>Misión</h2>
              <span>+</span>
            </div>
            <div
              class="card-back bg-blue-200 z-10 rounded-3xl text-gray-500 absolute top-0 left-0 w-full h-full flex justify-center items-start flex-col p-10"
            >
              <span class="absolute top-0 left-0 p-8 text-2xl text-blue-600"
                >Nuestra Misión</span
              >
              <p
                class="text-4xl max-[1700px]:text-3xl max-[1470px]:text-2xl max-[1280px]:text-xl max-[600px]:text-lg font-CoFoMedium max-[500px]:leading-6 max-[450px]:text-sm"
              >
                Satisfacer las necesidades financieras digitales de nuestros
                clientes, contribuyendo al alcance del éxito con nuestros
                ecosistemas de cobros y pagos.
              </p>
            </div>
          </div>
        </div>
        <div class="relative overflow-hidden card">
          <div class="card-inner">
            <div
              class="card-front z-20 bg-blue-600 rounded-3xl h-full hover:opacity-0 transition-all duration-500 flex justify-between items-start p-10 absolute top-0 left-0 w-full text-9xl max-[1440px]:text-8xl font-CoFoBold max-[1280px]:text-6xl max-[500px]:text-5xl"
            >
              <h2>Visión</h2>
              <span>+</span>
            </div>
            <div
              class="card-back bg-blue-200 z-10 rounded-3xl text-gray-500 absolute top-0 left-0 w-full h-full flex justify-center items-start flex-col p-10"
            >
              <span class="absolute top-0 left-0 p-8 text-2xl text-blue-600"
                >Nuestra Visión</span
              >
              <p
                class="text-4xl max-[1700px]:text-3xl max-[1470px]:text-2xl max-[1280px]:text-xl max-[600px]:text-lg font-CoFoMedium max-[500px]:leading-6 max-[450px]:text-sm"
              >
                Como empresa tecnológica y financiera creemos en el progreso
                constante y la innovación. Por eso, estamos elevando
                continuamente el nivel de nuestros productos mediante la
                optimización de recursos tecnológicos, facilitando la
                experiencia de nuestros clientes y sus usuarios.
              </p>
            </div>
          </div>
        </div>
      </div>
      <section class="h-full relative pt-44">
        <div>
          <div
            class="relative h-[75vh] flex justify-end max-[1000px]:justify-center max-[1000px]:pr-5 max-[1000px]:pl-5 items-end pb-20 pr-52"
          >
            <span
              class="bg-[#2866eb65] absolute top-[1px] left-0 z-20 w-full h-[75vh]"
            ></span>
            <video
              class="absolute w-full top-[1px] left-0 h-[75vh] z-10 object-cover"
              autoplay
              muted
              loop
            >
              <source src={bannerVideo} type="video/mp4" />
            </video>
            <div
              class="z-40 w-[700px] max-[1280px]:w-fit relative text-white flex justify-evenly items-start flex-col gap-5"
            >
              <span class="text-sm font-normal tracking-widest"
                >CONFÍAN EN NOSOTROS:</span
              >
              <h2 class="text-7xl max-[1000px]:text-5xl max-[500px]:text-4xl">
                <span class="font-bold"
                  >FARMACLOUD, TRIUNFO SEGUROS, CPAY, CALF.</span
                >
              </h2>
              <p class="text-2xl">
                Desarrollamos una billetera con un modelo específico para cada
                uno de nuestros clientes, atendiendo sus particularidades.
              </p>
            </div>
          </div>
          <div
            class="w-full h-[57vh] max-[1000px]:h-full max-[1000px]:py-20 max-[1000px]:flex-col bg-blue-600 text-white flex justify-evenly max-[1280px]:justify-center items-center gap-10"
          >
            <div
              class="relative w-[450px] h-[350px] max-[1000px]:w-4/5 max-[1000px]:h-80 flex justify-center items-center ml-20 max-[1000px]:ml-0"
            >
              <span class="bg-blue-600/15 absolute z-10 w-full h-full"></span>
              <img
                class="absolute top-0 left-0 h-full w-full object-cover z-0"
                src="/foto.jpg"
                alt=""
              />
              <div
                class="flex justify-center items-center flex-col gap-5 w-full h-full pr-5"
              >
                <div
                  class="z-20 w-full flex justify-center items-center flex-row font-semibold text-lg"
                >
                  <div
                    class="bg-blue-600 py-4 w-40 rounded-2xl translate-x-7 flex justify-center items-center"
                  >
                    <span
                      class="text-lg max-[800px]:text-sm max-[400px]:text-xs"
                      >2.500M</span
                    >
                  </div>
                  <div
                    class="bg-white py-4 w-64 max-[500px]:w-52 flex justify-center items-center rounded-2xl text-blue-600 z-10"
                  >
                    <h3 class="text-lg max-[800px]:text-sm max-[400px]:text-xs">
                      TRANSACCIONES
                    </h3>
                  </div>
                </div>
                <div
                  class="z-20 top-0 left-0 w-full h-ful flex justify-center items-center flex-row font-semibold text-lg"
                >
                  <div
                    class="bg-blue-600 py-4 w-40 rounded-2xl translate-x-7 flex justify-center items-center"
                  >
                    <span
                      class="text-lg max-[800px]:text-sm max-[400px]:text-xs"
                      >18M</span
                    >
                  </div>
                  <div
                    class="bg-white py-4 w-64 max-[500px]:w-52 flex justify-center items-center rounded-2xl text-blue-600 z-10"
                  >
                    <h3
                      class="text-lg text-nowrap max-[800px]:text-sm max-[400px]:text-xs"
                    >
                      TARJETAS PROCESADAS
                    </h3>
                  </div>
                </div>
                <div
                  class="z-20 top-0 left-0 w-full flex justify-center items-center flex-row font-semibold text-lg"
                >
                  <div
                    class="bg-blue-600 py-4 w-40 rounded-2xl translate-x-7 flex justify-center items-center"
                  >
                    <span
                      class="text-lg max-[800px]:text-sm max-[400px]:text-xs"
                      >+9.000M</span
                    >
                  </div>
                  <div
                    class="bg-white py-4 w-64 max-[500px]:w-52 flex justify-center items-center rounded-2xl text-blue-600 z-10"
                  >
                    <h3 class="text-lg max-[800px]:text-sm max-[400px]:text-xs">
                      USD EN CONSUMO
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex justify-center items-center gap-10 flex-col w-[900px] max-[1000px]:w-full max-[1000px]:pr-10 max-[1000px]:pl-10 pr-36 max-[1280px]:pr-10 text-blue-200"
            >
              <h3 class="text-5xl max-[800px]:text-4xl">
                Nuestra presencia internacional nos distingue
              </h3>
              <p class="text-2xl font-medium max-[800px]:text-xl">
                Como partners de Credencial Payments, estamos respaldados por
                certificaciones internacionales. Operamos con licencias activas
                en múltiples países de la región.
              </p>
              <p class="text-2xl font-medium max-[800px]:text-xl">
                Ofrecemos nuestro servicios en 12 países y contamos con +45 años
                de experiencia. Somos sin duda, la mejor opción para tu negocio.
              </p>
            </div>
          </div>
        </div>
      </section>
      <Contact />
    </section>
  </main>
</Layout>

<style>
  /* From Uiverse.io by vamsidevendrakumar */
  .card {
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-front {
    transform: rotateY(0deg);
  }

  .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
  }
</style>
