---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
  <main class="bg-[#cce8fa]">
    <section class="h-screen flex justify-center items-center">
      <div class="grid grid-cols-[1fr_1.2fr] gap-10">
        <div
          class="bg-blue-600 py-24 px-20 rounded-3xl text-white flex justify-center items-center"
        >
          <img
            class="w-48"
            src="\image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
            alt=""
          />
          <img
            class="w-48"
            src="\image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
            alt=""
          />
          <img
            class="w-48"
            src="\image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
            alt=""
          />
        </div>
        <div class="bg-white flex rounded-3xl relative">
          <span
            class="absolute top-0 right-0 pl-5 pr-40 pt-16 pb-5 bg-blue-600 m-5 text-blue-100 rounded-2xl font-semibold text-lg"
            >regresar al Home</span
          >
          <h2
            class="text-8xl text-blue-600 absolute left-0 bottom-0 p-10 font-bold"
          >
            Nosotros
          </h2>
        </div>
      </div>
    </section>
    <section class="w-full py-10 flex justify-center items-center">
      <div class="w-full">
        <img class="" src="\image-banner.webp" alt="" />
      </div>
    </section>
    <section class="w-full flex justify-end items-center pb-32">
      <div
        class="w-[950px] flex justify-center items-center flex-col gap-7 pr-48"
      >
        <h3 class="text-5xl text-blue-600 font-normal">
          En ByUrbana, somos pioneros en la creación de soluciones digitales
          financieras adaptadas a las necesidades de cada empresa.
        </h3>
        <p class="text-blue-600 text-2xl">
          Nuestra misión es simplificar y potenciar los ecosistemas comerciales
          y financieros mediante herramientas personalizadas que te permitan
          operar con la eficiencia de un banco digital propio. Con un equipo de
          expertos en tecnología y finanzas, estamos <span class="font-bold"
            >comprometidos en ayudarte a alcanzar tus objetivos con innovación,
            seguridad y rentabilidad.</span
          >
        </p>
      </div>
    </section>
    <section>
      <div
        class="text-blue-200 text-9xl font-bold grid grid-cols-2 h-[600px] gap-10 mx-36"
      >
        <div
          class="bg-blue-600 rounded-3xl flex justify-between items-start p-10"
        >
          <h2>Misión</h2>
          <span>+</span>
        </div>
        <div
          class="bg-blue-600 rounded-3xl flex justify-between items-start p-10"
        >
          <h2>Visión</h2>
          <span>+</span>
        </div>
      </div>
    </section>
    <section class="h-screen relative pt-20">
      <div>
        <div class="">
          <span></span>
          <!-- <img
            class="absolute w-full top-0 left-0 h-[400px] object-cover"
            src="\poster.jpg"
            alt=""
          /> -->
          <div class="z-20 w-[700px]">
            <span class="text-sm font-bold">NUESTRA DIFERENCIA DESTACADA</span>
            <h2 class="text-6xl">
              <span class="font-bold"
                >EXCELENCIA <br /> INTERNACIONAL & <br /></span
              >
              ))) VELOCIDAD ))) DE <br /> IMPLEMENTACIÓN
            </h2>
          </div>
        </div>
        <div
          class="w-full bg-blue-600 text-white flex justify-end items-center"
        >
          <div
            class="flex justify-center items-center gap-10 flex-col w-[900px] py-20 pr-36"
          >
            <h3 class="text-5xl">
              Nuestra presencial internacional nos distingue.
            </h3>
            <p class="text-2xl">
              Nuestra excelencia en estándares y nuestro impresionante 'time to
              market', que nos permite realizar proyectos en tiempos óptimos.
              Juntos establecemos nuevos estándares en la industria de los
              métodos de pago.
            </p>
            <p class="text-2xl">
              De la mano con Credencial Payments, está respaldada por
              certificaciones en 13 países, siendo la elección preferida por
              numerosos clientes corporativos
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
