---
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";
import HeroPages from "../components/HeroPages.astro"
import Banner from "../components/Banner.astro";
---

<Layout title="Nosotros">
  <main class="bg-[#cce8fa]">
    <HeroPages title="Nosotros" bgColor="#2563eb"/>
    <Banner url="\image-banner.webp"/>
    <section class="w-full flex justify-end items-center pb-32">
      <div
        class="w-[950px] flex justify-center items-center flex-col gap-7 pr-48"
      >
        <h3 class="text-5xl text-blue-600 font-normal">
          En ByUrbana, somos pioneros en la creación de soluciones digitales
          financieras adaptadas a las necesidades de cada empresa.
        </h3>
        <p class="text-blue-600 text-2xl">
          Nuestra misión es simplificar y potenciar los ecosistemas comerciales
          y financieros mediante herramientas personalizadas que te permitan
          operar con la eficiencia de un banco digital propio. Con un equipo de
          expertos en tecnología y finanzas, estamos <span class="font-bold"
            >comprometidos en ayudarte a alcanzar tus objetivos con innovación,
            seguridad y rentabilidad.</span
          >
        </p>
      </div>
    </section>
    <section>
      <div
        class="text-blue-200 text-9xl font-bold grid grid-cols-2 h-[600px] gap-10 mx-36"
      >
        <div
          class="bg-blue-600 rounded-3xl flex justify-between items-start p-10"
        >
          <h2>Misión</h2>
          <span>+</span>
        </div>
        <div
          class="bg-blue-600 rounded-3xl flex justify-between items-start p-10"
        >
          <h2>Visión</h2>
          <span>+</span>
        </div>
      </div>
    </section>
    <section class="h-full relative pt-44">
      <div>
        <div class="relative h-[75vh] flex justify-end items-end pb-20 pr-52">
          <span class="bg-[#1a4c9c96] absolute top-0 left-0 z-20 w-full h-[75vh]"></span>
          <img
            class="absolute w-full top-0 left-0 h-[75vh] z-10 object-cover"
            src="\poster.jpg"
            alt=""
          />

          <div class="z-40 w-[700px] relative text-white">
            <span class="text-sm font-bold">NUESTRA DIFERENCIA DESTACADA</span>
            <h2 class="text-6xl">
              <span class="font-bold"
                >EXCELENCIA <br /> INTERNACIONAL & <br /></span
              >
              ))) VELOCIDAD ))) DE <br /> IMPLEMENTACIÓN
            </h2>
          </div>
        </div>
        <div
          class="w-full h-[65vh] bg-blue-600 text-white  flex justify-end items-center"
        >
          <div
            class="flex justify-center items-center gap-10 flex-col w-[900px] py-20 pr-36 text-blue-200"
          >
            <h3 class="text-5xl">
              Nuestra presencial internacional nos distingue.
            </h3>
            <p class="text-2xl font-medium">
              Nuestra excelencia en estándares y nuestro impresionante 'time to
              market', que nos permite realizar proyectos en tiempos óptimos.
              Juntos establecemos nuevos estándares en la industria de los
              métodos de pago.
            </p>
            <p class="text-2xl font-medium">
              De la mano con Credencial Payments, está respaldada por
              certificaciones en 13 países, siendo la elección preferida por
              numerosos clientes corporativos
            </p>
          </div>
        </div>
      </div>
    </section>
    <Contact />
  </main>
</Layout>
