---
import Banner from "../components/Banner.astro";
import CardsServicios from "../components/CardsServicios.astro";
import Contact from "../components/Contact.astro";
import HeroPages from "../components/HeroPages.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="BYU_Servicios">
  <main class="bg-[#adc6fb]">
    <section
      class="h-[80vh] max-[800px]:h-fit flex justify-center items-center"
    >
      <div
        class="grid grid-cols-[1fr_1.2fr] gap-10 px-8 max-[800px]:grid-cols-1 h-[80vh] max-[700px]:items-center max-[700px]:px-0 scale-75"
      >
        <div
          class={`bg-[#727375] max-[770px]:py-10 px-20 rounded-3xl text-white flex justify-center items-center max-[700px]:hidden`}
        >
          <img
            class="w-[10vw] max-[800px]:h-[30vh] object-contain"
            src="/image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
            alt=""
          />
          <img
            class="w-[10vw] max-[800px]:h-[30vh] object-contain"
            src="/image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
            alt=""
          />
          <img
            class="w-[10vw] max-[800px]:h-[30vh] object-contain"
            src="/image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
            alt=""
          />
        </div>
        <div
          class="bg-white flex py-24 max-[770px]:py-10 px-20 rounded-3xl relative max-[800px]:w-[55vw] max-[800px]:h-[40vh] max-[700px]:h-4/5 max-[700px]:w-[90vw] max-[700px]:rounded-2xl"
        >
          <div
            class="absolute top-5 max-[1000px]:top-3 max-[1000px]:right-3 right-5 pt-16 max-[1000px]:pt-14 pb-5 max-[1000px]:pb-2 pl-5 pr-40 max-[1000px]:pr-24 bg-blue-600 rounded-2xl max-[1000px]:rounded-xl"
          >
            <a
              href="/"
              class="text-blue-100 border-b-2 font-CoFoBold text-lg max-[1000px]:text-base max-[800px]:text-sm"
              >↖ regresar al Home</a
            >
          </div>

          <h2
            class="text-9xl max-xl:text-8xl text-blue-600 absolute left-0 bottom-0 p-10 font-CoFoBold max-[1000px]:text-7xl max-[700px]:text-6xl max-[700px]:p-5 max-[700px]:pr-0"
          >
            Servicios
          </h2>
        </div>
      </div>
    </section>

    <Banner url="\servicios-banner.webp" />
    <section
      class="w-full flex justify-center max-[1000px]:justify-center items-center pb-32 pt-16 max-[500px]:pb-10 max-[500px]:pt-8"
    >
      <div
        class="max-w-[1050px] flex justify-center items-center flex-col gap-7 max-[1440px]:max-w-[700px] max-[1000px]:px-10"
      >
        <h3
          class="text-5xl max-[1440px]:text-4xl text-blue-600 font-normal max-[600px]:text-2xl"
        >
          UNA BILLETERA, MÚLTIPLES FUNCIONALIDADES
        </h3>
        <p
          class="text-blue-600 text-2xl max-[1440px]:text-xl max-[600px]:text-base"
        >
          En ByUrbana ofrecemos soluciones tecnológicas con un servicio
          completo, flexible y personalizable. Tenemos disponibles múltiples
          funcionalidades para elegir y armar tu ecosistema de la manera más
          adecuada según las necesidades específicas de tu negocio.
        </p>
      </div>
    </section>
    <section
      class="pb-20 flex justify-center items-center gap-10 flex-row flex-wrap px-10"
    >
      <CardsServicios />
    </section>
  </main>
  <Contact />
</Layout>
