---
import Banner from "../components/Banner.astro";
import CardsServicios from "../components/CardsServicios.astro";
import HeroPages from "../components/HeroPages.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="BYU_Servicios">
  <main class="bg-[#4989dd98]">
    <HeroPages title="Servicios" />

    <Banner url="\servicios-banner.webp" />
    <section
      class="w-full flex justify-center max-[1000px]:justify-center items-center pb-32 pt-16 max-[500px]:pb-10 max-[500px]:pt-8"
    >
      <div
        class="max-w-[1050px] flex justify-center items-center flex-col gap-7 max-[1440px]:max-w-[700px] max-[1000px]:px-10"
      >
        <h3
          class="text-5xl max-[1440px]:text-4xl text-blue-600 font-normal max-[600px]:text-2xl"
        >
          UNA BILLETERA, MÚLTIPLES FUNCIONALIDADES
        </h3>
        <p
          class="text-blue-600 text-2xl max-[1440px]:text-xl max-[600px]:text-base"
        >
          En ByUrbana ofrecemos soluciones tecnológicas con un servicio
          completo, flexible y personalizable. Tenemos disponibles múltiples
          funcionalidades para elegir y armar tu ecosistema de la manera más
          adecuada según las necesidades específicas de tu negocio.
        </p>
      </div>
    </section>
    <section
      class="pb-20 flex justify-center items-center gap-10 flex-row flex-wrap px-10"
    >
      <CardsServicios />
    </section>
  </main>
</Layout>
