---
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";
import HeroPages from "../components/HeroPages.astro";
import Banner from "../components/Banner.astro";
import CardsSuperarpp from "../components/CardsSuperarpp.astro";
---

<Layout title="BYU_SuperApp">
  <main class="bg-blue-600">
    <HeroPages title="SuperApp" bgColor="#cce8fa" />
    <Banner url="\superapp-bannner.webp" />
    <section
      class="w-full flex justify-end max-[1000px]:justify-center items-center pb-32"
    >
      <div
        class="w-[950px] flex justify-center items-center flex-col gap-7 pr-48 max-[1440px]:pr-28 max-[1440px]:w-[700px] max-[1000px]:px-10"
      >
        <h3
          class="text-5xl max-[1440px]:text-4xl text-blue-200 font-normal max-[600px]:text-2xl"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          porta efficitur sagittis. Aenean ut elit auctor, lacinia arcu at,
          faucibus dui.
        </h3>
        <p
          class="text-blue-200 text-2xl max-[1440px]:text-xl max-[600px]:text-base"
        >
          Nullam venenatis viverra fermentum. Nulla elementum faucibus nisi, et
          luctus nulla aliquet a. Integer id porttitor nibh. Donec dapibus
          convallis sollicitudin. Vivamus turpis libero, scelerisque ac congue
          at, ultricies ut odio.
        </p>
      </div>
    </section>
    <section class="grid place-content-center w-full">
      <div class="flex justify-center items-center flex-col gap-10 w-full view">
        <div
          class="flex justify-center items-center flex-row w-4/5 max-[1280px]:w-full max-[1280px]:flex-col views"
        >
          <video
            class="w-2/4 max-[800px]:w-[90vw] h-full object-cover rounded-3xl"
            autoplay
            muted
            loop
          >
            <source src="/daraval-video.mp4" type="video/mp4" />
          </video>

          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-start flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <h2
              class="text-6xl max-[1500px]:text-5xl max-[900px]:text-4xl max-[450px]:text-3xl"
            >
              <span class="text-blue-600">DAR</span><span class="text-gray-600"
                >AVAL</span
              >
              <br />
              BY)))URBANA
            </h2>
            <span class="text-3xl max-[900px]:text-2xl max-[450px]:text-xl"
              >Garantía sin complicaciones, 100% digital.</span
            >
            <p
              class="leading-5 text-lg max-[900px]:text-base max-[450px]:text-sm"
            >
              Realizamos todo el proceso de forma online y sin costos
              adicionales para tu comodidad. Te brindamos asesoramiento
              integral, desde la aprobación de tu garantía hasta la finalización
              del contrato, asegurándonos de que estés informado en cada paso.
              Simplificamos tu acceso a garantías con eficiencia y seguridad.
            </p>
            <div class="border-b-2 border-blue-600">
              <a
                class="absolute bottom-0 right-0 p-5 text-blue-600 font-bold text-lg"
                href="#">Ir al website ↗</a
              >
            </div>
          </div>
        </div>
        <div
          class="flex justify-center items-center flex-row w-4/5 max-[1280px]:w-full max-[1280px]:flex-col-reverse views"
        >
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-start flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <h2
              class="text-6xl max-[1500px]:text-5xl max-[900px]:text-4xl max-[450px]:text-3xl"
            >
              <span class="text-blue-600">URBANA</span><span
                class="text-gray-600">GO</span
              >
              <br />
              BY)))URBANA
            </h2>
            <span class="text-3xl max-[900px]:text-2xl max-[450px]:text-xl"
              >Todo tu contenido en una sola plataforma.</span
            >
            <p
              class="leading-5 text-lg max-[900px]:text-base max-[450px]:text-sm"
            >
              Una plataforma diseñada para vos. Incluye Urbana+: televisión
              clásica con tus canales de siempre; VivaLiveTv: TV internacional
              gratuita; UrbanaKids: contenido infantil seguro; y UrbanaMúsica:
              disfruta de tu música y videos favoritos estés donde estés.
              UrbanaGo es entretenimiento sin límites, siempre a tu alcance.
            </p>
            <div class="border-b-2 border-blue-600">
              <a
                class="absolute bottom-0 right-0 p-5 text-blue-600 font-bold text-lg"
                href="#">Ir al website ↗</a
              >
            </div>
          </div>
          <video
            class="w-2/4 h-full object-cover rounded-3xl max-[800px]:w-[90vw]"
            autoplay
            muted
            loop
          >
            <source src="/urbanaGo-video.mp4" type="video/mp4" />
          </video>
        </div>
        <div
          class="flex justify-center items-center flex-row w-4/5 max-[1280px]:w-full max-[1280px]:flex-col views"
        >
          <video
            class="w-2/4 h-full object-cover rounded-3xl max-[800px]:w-[90vw]"
            autoplay
            muted
            loop
          >
            <source src="/tableFast-video.mp4" type="video/mp4" />
          </video>
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-start flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <h2
              class="text-6xl max-[1500px]:text-5xl max-[900px]:text-4xl max-[450px]:text-3xl"
            >
              <span class="text-blue-600">TABLE</span><span
                class="text-gray-600">FAST</span
              >
              <br />
              BY)))URBANA
            </h2>
            <span class="text-3xl max-[900px]:text-2xl max-[450px]:text-xl"
              >Innovación que mejora tu experiencia gastronómica.</span
            >
            <p
              class="leading-5 text-lg max-[900px]:text-base max-[450px]:text-sm"
            >
              Nuestro sistema interactivo de QR está pensado para modernizar el
              mundo gastronómico, facilitando una nueva modalidad de atención en
              restaurantes. Agilizamos el servicio y mejoramos la experiencia
              del cliente, todo con un simple escaneo.
            </p>
            <div class="border-b-2 border-blue-600">
              <a
                class="absolute bottom-0 right-0 p-5 text-blue-600 font-bold text-lg"
                href="#">Ir al website ↗</a
              >
            </div>
          </div>
        </div>
        <div
          class="flex justify-center items-center flex-row w-4/5 max-[1280px]:w-full max-[1280px]:flex-col-reverse views"
        >
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-start flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <h2
              class="text-6xl max-[1500px]:text-5xl max-[900px]:text-4xl max-[450px]:text-3xl"
            >
              <span class="text-blue-600">ENTRADA</span><span
                class="text-gray-600">MASTER</span
              >
              <br />
              BY)))URBANA
            </h2>
            <span class="text-3xl max-[900px]:text-2xl max-[450px]:text-xl"
              >El acceso a tus eventos, más simple que nunca.</span
            >
            <p
              class="leading-5 text-lg max-[900px]:text-base max-[450px]:text-sm"
            >
              Plataforma de ticketing simple, accesible e innovadora para la
              venta de entradas a eventos deportivos, culturales y de
              entretenimiento en vivo. Creemos en la importancia de experiencias
              compartidas, por eso hacemos que tu acceso al entretenimiento sea
              rápido y fácil.
            </p>
            <div class="border-b-2 border-blue-600">
              <a
                class="absolute bottom-0 right-0 p-5 text-blue-600 font-bold text-lg"
                href="#">Ir al website ↗</a
              >
            </div>
          </div>
          <video
            class="w-2/4 h-full object-cover rounded-3xl max-[800px]:w-[90vw]"
            autoplay
            muted
            loop
          >
            <source src="/entradaMaster-video.mp4" type="video/mp4" />
          </video>
        </div>
        <div
          class="flex justify-center items-center flex-row w-4/5 max-[1280px]:w-full max-[1280px]:flex-col views"
        >
          <video
            class="w-2/4 h-full max-[800px]:w-[90vw] object-cover rounded-3xl"
            autoplay
            muted
            loop
          >
            <source src="/meQuieroMudar-video.mp4" type="video/mp4" />
          </video>
          <div
            class="relative bg-white w-full rounded-3xl h-full px-10 max-[450px]:px-5 py-5 flex justify-center items-start flex-col gap-5 max-[1280px]:w-2/4 max-[800px]:w-[90vw]"
          >
            <h2
              class="text-6xl max-[1500px]:text-5xl max-[900px]:text-4xl max-[450px]:text-3xl"
            >
              <span class="text-blue-600">MEQUIERO</span><span
                class="text-gray-600">MUDAR</span
              >
              <br />
              BY)))URBANA
            </h2>
            <span class="text-3xl max-[900px]:text-2xl max-[450px]:text-xl"
              >Mudarte nunca fue tan fácil.</span
            >
            <p
              class="leading-5 text-lg max-[900px]:text-base max-[450px]:text-sm"
            >
              El portal ideal para comprar o alquilar tu nuevo hogar. Ofrecemos
              soluciones completas para tu mudanza, con servicios de traslado,
              mantenimiento y remodelación, respaldados por profesionales
              recomendados por la comunidad. MeQuieroMudar te acompaña en cada
              paso, haciendo que tu nueva vida comience sin complicaciones.
            </p>
            <div class="border-b-2 border-blue-600">
              <a
                class="absolute bottom-0 right-0 p-5 text-blue-600 font-bold text-lg"
                href="#">Ir al website ↗</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-28 pt-20 flex justify-center items-center">
      <div
        class="flex justify-center items-center gap-10 flex-col w-4/5 max-[1280px]:w-[90vw] max-[1000px]:w-4/5"
      >
        <h4
          class="border-b border-blue-300 w-full pb-6 text-xl text-blue-300 font-CoFoMedium"
        >
          Y MÁS SERVICIOS PARA VOS )))
        </h4>
        <div
          class="w-full flex justify-center items-center flex-row gap-10 max-[1000px]:flex-col"
        >
          <CardsSuperarpp title1="ENVIOS" title2="URBANA" />
          <CardsSuperarpp title1="URBANA" title2="PAY" />
          <CardsSuperarpp title1="TURISMO" title2="URBANA" />
        </div>
      </div>
    </section>
    <Contact />
  </main>
</Layout>

<style>
  .views {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
