---
interface Props {
  url: string;
}
const { url } = Astro.props;
---

<section class="w-full py-10 flex justify-center items-center">
  <div class="w-full">
    <img loading="lazy" class="" src={url} alt="" />
  </div>
</section>
