---
interface Props {
  title1: string;
  title2: string;
}
const { title1, title2 } = Astro.props;
---

<div
  class="relative border-2 border-blue-200 rounded-2xl w-[35vw] max-[1000px]:w-[45vw] max-[700px]:w-[90vw] h-[50vh] max-[600px]:h-[350px]"
>
  <div class="absolute top-0 left-0 p-4">
    <a class="text-white font-bold text-lg border-b" href="#"
      >Ir al website ↗</a
    >
  </div>

  <h3
    class="text-blue-200 text-5xl absolute p-8 bottom-0 left-0 max-[1280px]:text-4xl leading-9 max-[1280px]:leading-8"
  >
    {title1}
    <br />
    {title2}
  </h3>
</div>
