<!-- CONTACT -->
<section
  class="flex justify-center items-center h-screen bg-slate-950 text-white py-20"
>
  <div class="grid grid-cols-[1fr_2fr] mx-32 max-[1440px]:mx-24">
    <div class="w-[600px] border-x-2 border-gray-600 px-10">
      <span class="text-sm font-semibold text-blue-200">
        CONTACTATE CON BYURBANA
      </span>
      <h2 class="text-8xl max-[1280px]:text-7xl text-blue-200 leading-[.8]">
        Potencia tu negocio. <span class="font-semibold"
          >Traelo a By)))Urbana</span
        >
      </h2>
      <p class="text-lg font-semibold pt-10 leading-5">
        Desde la emisión de tarjetas hasta la gestión de pagos digitales,
        nuestras herramientas personalizadas impulsan el crecimiento financiero
        de su empresa.
      </p>
    </div>
    <form
      class="flex justify-center items-center flex-col flex-grow gap-5 mx-10 border-r-2 border-gray-600 pr-10"
      action=""
    >
      <input class="p-6 w-full" placeholder="NOMBRE" type="text" />
      <input class="p-6 w-full" placeholder="APELLIDO" type="text" />
      <input class="p-6 w-full" placeholder="CORREO" type="text" />
      <input class="p-6 w-full" placeholder="TELEFONO" type="text" />
      <button class="bg-gray-700 p-6 w-full">Enviar</button>
    </form>
    <div class="flex gap-3 items-center pt-32">
      <img class="w-12" src="\Mastercar-Icon.svg" alt="Mastercar Logo" />
      <span class="font-semibold tracking-widest text-[12px]">
        <p class="p-0">SOMOS</p>
        <p class="p-0">MASTERCARD</p>
        <p class="p-0">PARTNERS</p>
      </span>
    </div>
    <p class="pt-32 text-xs font-medium">
      Al enviar tus datos personales a través de este formulario, aceptás
      nuestra Política de Privacidad y autorizás el tratamiento de la
      información proporcionada para fines comerciales y administrativos. Tus
      datos serán utilizados exclusivamente para gestionar tu solicitud y
      mejorar la atención, garantizando su confidencialidad y seguridad conforme
      a la legislación vigente.
    </p>
  </div>
</section>
