<!-- FOOTER -->
<footer class="h-[40vh] flex justify-center flex-col bg-[#adc6fb]">
  <div class="flex justify-evenly items-center flex-row gap-4 w-full">
    <div>
      <span class="text-9xl font-bold">)))</span>
      <h4 class="font-semibold text-2xl pt-6">By ))) Urbana</h4>
      <p class="text-xl">Sarmiento 776 - Piso 3ro.</p>
      <p class="text-xl">C1041 AAP, Buenos Aires. Argentina</p>
    </div>
    <div class="flex justify-center items-start gap-14">
      <nav>
        <ul>
          <li><a class="text-2xl" href="#">Home</a></li>
          <li><a class="text-2xl" href="#">Servicios</a></li>
          <li><a class="text-2xl" href="#">Beneficios</a></li>
          <li><a class="text-2xl" href="#">Superapp</a></li>
          <li><a class="text-2xl" href="#">Contacto</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li>
            <a class="text-2xl" href="#">Instagram</a>
          </li>
          <li>
            <a class="text-2xl" href="#">LinkedIn</a>
          </li>
        </ul>
      </nav>
      <div>
        <h3 class="text-3xl font-bold pb-4">¿Necesitás ayuda?</h3>
        <p class="text-2xl">
          +54 9 11 4080-5017 <br />
          Contactanos de lunes a viernes <br /> de 9:00 a 18:00 hs
        </p>
      </div>
      <div>
        <h3 class="text-3xl font-bold pb-4">Escribinos</h3>
        <p class="text-2xl">contacto@byurbana.com</p>
      </div>
    </div>
  </div>
  <div class="flex justify-end items-center pr-32">
    <span class="font-semibold text-sm">2024 TODOS LOS DERECHOS RESERVADOS</span
    >
    <span class="font-semibold text-sm text-right pl-16"
      >DISEÑO Y DESARROLLO POR THE BRAND SIDE</span
    >
  </div>
</footer>
