<!-- FOOTER -->
<footer
  class="py-20 max-[1440px]:py-12 flex justify-center flex-col bg-[#adc6fb] cja"
>
  <div
    class="flex justify-evenly items-center flex-row gap-4 w-full px-5 max-[1100px]:items-start max-[500px]:items-center max-[1100px]:gap-14 max-[1100px]:pb-10 max-[500px]:flex-col"
  >
    <div
      class="max-[500px]:flex max-[500px]:flex-col max-[500px]:justify-center max-[500px]:items-center"
    >
      <span class="text-9xl max-[1440px]:text-8xl font-bold">)))</span>
      <h4 class="font-semibold text-2xl max-[1440px]:text-xl pt-6">
        By ))) Urbana
      </h4>
      <p
        class="text-[23px] max-[1440px]:text-base leading-6 max-[1440px]:leading-5 max-[1440px]:font-medium"
      >
        Sarmiento 776 - Piso 3ro.
      </p>
      <p
        class="text-[23px] max-[1440px]:text-base leading-6 max-[1440px]:leading-5 max-[1440px]:font-medium"
      >
        C1041 AAP, Buenos Aires. Argentina
      </p>
    </div>
    <div
      class="flex justify-center max-[500px]:items-center items-start gap-14 max-[1380px]:gap-6  max-[500px]:gap-14  max-[1100px]:flex-col-reverse max-[1100px]:items-start"
    >
      <div class="flex gap-14 max-[1100px]:gap-6 max-[1100px]:flex-col max-[1100px]:items-start max-[500px]:flex-row max-[500px]:justify-between ">
        <nav>
          <ul
            class="flex justify-center items-start flex-col max-[1100px]:flex-row max-[500px]:flex-col max-[1100px]:gap-3 max-[1100px]:justify-start max-[1000px]:gap-2 flex-wrap max-[500px]:gap-0"
          >
            <li>
              <a
                class="text-[21px] max-[1440px]:text-[18px] max-[1440px]:font-medium leading-6 max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/">Home</a
              >
            </li>
            <li>
              <a
                class="text-[21px] max-[1440px]:text-[18px] max-[1440px]:font-medium leading-6 max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/servicios">Servicios</a
              >
            </li>
            <li>
              <a
                class="text-[21px] max-[1440px]:text-[18px] max-[1440px]:font-medium leading-6 max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/nosotros">Nosotros</a
              >
            </li>
            <li>
              <a
                class="text-[21px] max-[1440px]:text-[18px] max-[1440px]:font-medium leading-6 max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/superapp">Superapp</a
              >
            </li>
            <li>
              <a
                class="text-[21px] max-[1440px]:text-[18px] max-[1440px]:font-medium leading-6 max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/contacto">Contacto</a
              >
            </li>
          </ul>
        </nav>
        <nav>
          <ul
            class="flex justify-center items-start flex-col max-[1100px]:flex-row max-[1100px]:gap-3 max-[500px]:flex-col max-[500px]:gap-0"
          >
            <li>
              <a
                class="text-[21px] max-[1440px]:text-[18px] max-[1440px]:font-medium leading-6 max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="#">Instagram</a
              >
            </li>
            <li>
              <a
                class="text-[21px] max-[1440px]:text-[18px] max-[1440px]:font-medium leading-6 max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="#">LinkedIn</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="max-[500px]:flex max-[500px]:flex-col max-[500px]:justify-center max-[500px]:items-center"
      >
        <h3 class="text-3xl max-[1440px]:text-2xl max-[500px]:text-xl font-bold pb-4">
          ¿Necesitás ayuda?
        </h3>
        <p
          class="text-[21px] max-[1440px]:text-[18px] max-[500px]:text-base max-[500px]:leading-4 leading-6 max-[1440px]:leading-5 max-[1440px]:font-medium"
        >
          +54 9 11 4080-5017 <br />
          Contactanos de lunes a viernes <br /> de 9:00 a 18:00 hs
        </p>
      </div>
      <div
        class="max-[500px]:flex max-[500px]:flex-col max-[500px]:justify-center max-[500px]:items-center"
      >
        <h3 class="text-3xl max-[1440px]:text-2xl max-[500px]:text-xl font-bold pb-4">
          Escribinos
        </h3>
        <p
          class="text-[21px] max-[1440px]:text-[18px] max-[500px]:text-base max-[500px]:leading-4 max-[1440px]:font-medium"
        >
          contacto@byurbana.com
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex justify-end items-center pr-32 max-[800px]:pr-8 max-[800px]:pl-8 max-[500px]:flex-col"
  >
    <span class="font-semibold text-sm max-[1440px]:text-[10px]"
      >© 2024 TODOS LOS DERECHOS RESERVADOS</span
    >
    <span
      class="font-semibold text-sm max-[1440px]:text-[10px] text-right pl-16 max-[500px]:pl-0"
      >DISEÑO Y DESARROLLO POR THE BRAND SIDE</span
    >
  </div>
</footer>

<style>
  .cja {
    transition: 500ms all;
  }
  .cja:hover {
    filter: drop-shadow(rgba(173, 198, 251, 0.52) 2px -3px 19px);
    transition: 500ms all;
  }
</style>
