<!-- FOOTER -->
<footer
  class="py-14 max-[1440px]:py-12 flex justify-center flex-col bg-[#adc6fb] cja"
>
  <div
    class="flex justify-evenly items-center flex-row gap-4 w-full px-5 max-[500px]:px-10 max-[1100px]:items-start max-[500px]:items-start max-[1100px]:gap-14 max-[1100px]:pb-10 max-[500px]:flex-col"
  >
    <div
      class="max-[500px]:flex max-[500px]:flex-col max-[500px]:justify-center max-[500px]:items-start"
    >
      <span
        class="text-[7rem] max-[1440px]:text-8xl font-CoFoBold -tracking-widest"
        >)))</span
      >
      <div class="w-96 max-[800px]:w-64 max-[600px]:w-52 py-8">
        <img src="/BY-URBANA_ MENOS-ESPACIADA_ blanco.png" alt="" />
      </div>
      <p
        class="text-[21px] max-[1440px]:text-base leading-6 max-[1440px]:leading-5 max-[1440px]:font-medium"
      >
        Sarmiento 776 - Piso 10.
      </p>
      <p
        class="text-[21px] max-[1440px]:text-base leading-6 max-[1440px]:leading-5 max-[1440px]:font-medium"
      >
        C1041 AAP, Buenos Aires. Argentina
      </p>
    </div>
    <div
      class="flex justify-center max-[500px]:items-start items-start gap-14 max-[1380px]:gap-6 max-[500px]:gap-14 max-[1100px]:flex-col-reverse max-[1100px]:items-start"
    >
      <div
        class="flex gap-14 max-[1100px]:gap-6 max-[1100px]:flex-col max-[1100px]:items-start max-[500px]:flex-row max-[500px]:justify-between"
      >
        <nav>
          <ul
            class="flex justify-center leading-7 items-start flex-col max-[1100px]:flex-row max-[500px]:flex-col max-[1100px]:gap-3 max-[1100px]:justify-start max-[1000px]:gap-2 flex-wrap max-[500px]:gap-0"
          >
            <li>
              <a
                class="text-[23px] max-[1440px]:text-[18px] max-[1440px]:font-medium max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/">Home</a
              >
            </li>
            <li>
              <a
                class="text-[23px] max-[1440px]:text-[18px] max-[1440px]:font-medium max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/servicios">Servicios</a
              >
            </li>
            <li>
              <a
                class="text-[23px] max-[1440px]:text-[18px] max-[1440px]:font-medium max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/nosotros">Nosotros</a
              >
            </li>
            <li>
              <a
                class="text-[23px] max-[1440px]:text-[18px] max-[1440px]:font-medium max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/modelos">Modelos</a
              >
            </li>
            <li>
              <a
                class="text-[23px] max-[1440px]:text-[18px] max-[1440px]:font-medium max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="/contacto">Contacto</a
              >
            </li>
          </ul>
        </nav>
        <nav>
          <ul
            class="flex justify-center leading-7 items-start flex-col max-[1100px]:flex-row max-[1100px]:gap-3 max-[500px]:flex-col max-[500px]:gap-0"
          >
            <li>
              <a
                class="text-[23px] max-[1440px]:text-[18px] max-[1440px]:font-medium l max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="https://www.instagram.com/by.urbana/
"
                target="_blank"
                rel="noopener noreferrer">Instagram</a
              >
            </li>
            <li>
              <a
                class="text-[23px] max-[1440px]:text-[18px] max-[1440px]:font-medium max-[1440px]:leading-3 hover:border-b-[1px] border-black"
                href="https://www.linkedin.com/company/byurbana/"
                target="_blank"
                rel="noopener noreferrer">LinkedIn</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="max-[500px]:flex max-[500px]:flex-col max-[500px]:justify-center max-[500px]:items-start"
      >
        <h3
          class="text-3xl max-[1440px]:text-2xl max-[500px]:text-xl font-CoFoBold pb-4"
        >
          ¿Necesitás ayuda?
        </h3>
        <p
          class="text-[23px] max-[1440px]:text-[18px] max-[500px]:text-base max-[500px]:leading-4 leading-6 max-[1440px]:leading-5 max-[1440px]:font-medium"
        >
          <a
            href="https://wa.me/5491140805017"
            rel="noopener noreferrer"
            target="_blank"
            class="flex items-center gap-2 hover:border-b-[1px] border-b-[1px] border-transparent  hover:border-black"
          >
            <svg
              class="w-8"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <path
                d="M476.9 161.1C435 119.1 379.2 96 319.9 96C197.5 96 97.9 195.6 97.9 318C97.9 357.1 108.1 395.3 127.5 429L96 544L213.7 513.1C246.1 530.8 282.6 540.1 319.8 540.1L319.9 540.1C442.2 540.1 544 440.5 544 318.1C544 258.8 518.8 203.1 476.9 161.1zM319.9 502.7C286.7 502.7 254.2 493.8 225.9 477L219.2 473L149.4 491.3L168 423.2L163.6 416.2C145.1 386.8 135.4 352.9 135.4 318C135.4 216.3 218.2 133.5 320 133.5C369.3 133.5 415.6 152.7 450.4 187.6C485.2 222.5 506.6 268.8 506.5 318.1C506.5 419.9 421.6 502.7 319.9 502.7zM421.1 364.5C415.6 361.7 388.3 348.3 383.2 346.5C378.1 344.6 374.4 343.7 370.7 349.3C367 354.9 356.4 367.3 353.1 371.1C349.9 374.8 346.6 375.3 341.1 372.5C308.5 356.2 287.1 343.4 265.6 306.5C259.9 296.7 271.3 297.4 281.9 276.2C283.7 272.5 282.8 269.3 281.4 266.5C280 263.7 268.9 236.4 264.3 225.3C259.8 214.5 255.2 216 251.8 215.8C248.6 215.6 244.9 215.6 241.2 215.6C237.5 215.6 231.5 217 226.4 222.5C221.3 228.1 207 241.5 207 268.8C207 296.1 226.9 322.5 229.6 326.2C232.4 329.9 268.7 385.9 324.4 410C359.6 425.2 373.4 426.5 391 423.9C401.7 422.3 423.8 410.5 428.4 397.5C433 384.5 433 373.4 431.6 371.1C430.3 368.6 426.6 367.2 421.1 364.5z"
              ></path></svg
            >
            +54 9 11 4080-5017 <br />
          </a>
          Contactanos de lunes a viernes <br /> de 9:00 a 18:00 hs
        </p>
      </div>
      <div
        class="max-[500px]:flex max-[500px]:flex-col max-[500px]:justify-center max-[500px]:items-start"
      >
        <h3
          class="text-3xl max-[1440px]:text-2xl max-[500px]:text-xl font-CoFoBold pb-4"
        >
          Escribinos
        </h3>
        <a
          href="mailto:redes@byurbana.com"
          class="text-[23px] max-[1440px]:text-[18px] max-[500px]:text-base max-[500px]:leading-4 max-[1440px]:font-medium hover:border-b-[1px] border-black"
        >
          redes@byurbana.com
        </a>
      </div>
    </div>
  </div>
  <div
    class="flex justify-end items-center pr-32 max-[800px]:pr-8 max-[800px]:pl-8 max-[500px]:flex-col max-[500px]:items-start"
  >
    <span
      class="font-CoFoNormal text-sm max-[1440px]:text-[10px] max-[500px]:text-[8px]"
      >© 2024 TODOS LOS DERECHOS RESERVADOS</span
    >
    <span
      class="font-CoFoNormal max-[1440px]:text-[10px] text-right pl-16 max-[500px]:text-[8px] max-[500px]:pl-0"
      >Por ByUrbana</span
    >
  </div>
</footer>

<style>
  .cja {
    transition: 500ms all;
  }
  .cja:hover {
    filter: drop-shadow(rgba(173, 198, 251, 0.52) 2px -3px 19px);
    transition: 500ms all;
  }
</style>
