<header class="fixed top-0 pt-8 z-40 w-full text-white">
  <nav class="flex justify-between pl-36 pr-36 items-center w-full">
    <div>
      <div>
        <a class="group" href="#"
          ><img
            class="w-7"
            src="/navbar-icon.png"
            alt="Icono de navegacion"
          /></a
        >
        <ul class="bg-[#adc6fb] group-hover:flex p-20 rounded-xl justify-center items-center gap-1 flex-col text-black hidden ">
          <li><a class="text-6xl" href="#">Home</a></li>
          <li><a class="text-6xl" href="#">Servicios</a></li>
          <li><a class="text-6xl" href="#">Nosotros</a></li>
          <li><a class="text-6xl" href="#">Beneficios</a></li>
          <li><a class="text-6xl" href="#">Superapp</a></li>
          <li><a class="text-6xl" href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
    <a href="/#" class="font-medium text-2xl"
      >BY <span class="font-semibold tracking-tighter"> ))) </span> URBANA</a
    >
    <a
      href="/contacto"
      class="font-normal text-base border rounded-full pl-6 pr-6">CONTÁCTENOS</a
    >
  </nav>
</header>
