<header
  class="fixed top-0 py-4 max-[1366px]:pt-5 z-50 w-full text-white bg-slate-400 glass"
>
  <nav
    class="flex justify-between px-36 items-center w-full max-[800px]:px-10 max-[1440px]:px-20 max-[550px]:px-5"
  >
    <div
      class="flex flex-row flex-nowrap gap-5 items-center justify-center w-[400px] h-auto pl-5"
    >
      <a
        href="/"
        class="translate-x-14 max-[1000px]:translate-x-0 max-[1440px]:translate-x-14 scale-150 pr-4"
      >
        <img
          src="/logo_byurbana_celeste.png"
          alt="logo byurbana"
          class="w-[400px] max-[1440px]:w-[350px] max-[300px]:w-350px] h-full object-cover"
        />
      </a>
      <a
        href="https://byurbana.github.io/byuclub"
        target="_blank"
        rel="noopener noreferrer"
        class="translate-x-14 max-[1000px]:translate-x-0 max-[1440px]:translate-x-14 scale-75"
      >
        <img
          src="/byuclub_v6_menos_espacio_ blanco.png"
          alt="logo byurbana"
          class="w-[400px] max-[1440px]:w-[350px] max-[300px]:w-350px] h-full object-cover"
        />
      </a>
      <a
        href="https://byuplay.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="translate-x-14 max-[1000px]:translate-x-0 max-[1440px]:translate-x-14 scale-90"
      >
        <img
          src="/byuplay2.png"
          alt="logo byurbana"
          class="w-[400px] max-[1440px]:w-[350px] max-[300px]:w-350px] h-full object-cover scale-125"
        />
      </a>
    </div>
    <div class="flex items-center gap-5">
      <div class="flex gap-2 max-[550px]:ml-3 max-[768px]:hidden">
        <button>
          <img
            class="w-8 max-lg:w-6"
            src="/estados-unidos.png"
            alt="Bandera Estados Unidos"
          />
        </button>
        <button>
          <img class="w-8 max-lg:w-6" src="/brasil.png" alt="Bandera Brasil" />
        </button>
        <button>
          <img
            class="w-8 max-lg:w-6"
            src="/argentina.png"
            alt="Bandera Argentina"
          />
        </button>
      </div>
      <div id="openNavbar" class="cursor-pointer">
        <img
          class="w-5 max-[1680px]:w-5 max-[500px]:w-3 max-[550px]:ml-3"
          src="/navbar-icon.png"
          alt="Icono de navegacion"
        />
        <div
          id="menu"
          class="bg-[#adc6fb] z-50 rounded-2xl max-[550px]:h-screen max-[550px]:w-[100vw] justify-center items-center flex-col absolute right-0 mx-36 max-[1440px]:-right-20 max-[550px]:mx-0 hidden transform transition-all max-[550px]:top-0 max-[550px]:rounded-none max-[550px]:right-0"
        >
          <ul
            class="flex gap-2 flex-col text-black relative p-10 w-[300px] max-[550px]:justify-center max-[550px]:items-center h-[350px] max-[550px]:w-[90vw] max-[550px]:h-[80vh]"
          >
            <li>
              <a
                class="text-xl font-CoFoNormal hover:text-2xl transition-all duration-300"
                href="/">Home</a
              >
            </li>
            <li>
              <a
                class="text-xl font-CoFoNormal hover:text-2xl transition-all duration-300"
                href="/servicios">Servicios</a
              >
            </li>
            <li>
              <a
                class="text-xl font-CoFoNormal hover:text-2xl transition-all duration-300"
                href="/nosotros">Nosotros</a
              >
            </li>
            <li>
              <a
                class="text-xl font-CoFoNormal hover:text-2xl transition-all duration-300"
                href="/modelos">Modelos</a
              >
            </li>
            <li>
              <a
                class="text-xl font-CoFoNormal hover:text-2xl transition-all duration-300"
                href="/contacto">Contacto</a
              >
            </li>
          </ul>
          <button
            id="bottom-close"
            class="absolute top-5 right-5 py-2 px-8 rounded-2xl hover:scale-105 transition-all border-black border text-black text-xl font-medium max-[1000px]:px-8 max-[1000px]:py-2"
            >X</button
          >
          <div
            class="flex justify-between w-full flex-row p-10 items-end absolute bottom-0 text-black text-lg max-[550px]:flex-col max-[550px]:gap-5 max-[550px]:items-center max-[550px]:pt-0"
          >
            <div>
              <a
                class="text-sm border-b-4 border-black"
                href="https://www.instagram.com/by.urbana/"
                target="_blank"
                rel="noopener noreferrer">Instagram</a
              >
              <span>↗</span>
            </div>
            <div>
              <a
                class="text-sm border-b-4 border-black"
                href="https://www.linkedin.com/company/byurbana/"
                target="_blank"
                rel="noopener noreferrer">LinkedIn</a
              >
              <span>↗</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script>
    const menu = document.querySelector("#menu");
    const openNavbar = document.querySelector("#openNavbar");
    const closeNavbar = document.querySelector("#bottom-close");

    openNavbar?.addEventListener("click", () => {
      openModal();
    });
    closeNavbar?.addEventListener("click", () => {
      closeModal();
    });
    function openModal() {
      showAndHide(menu, ["flex1", "scaleIn"], ["hidden", "scaleOut"]);
    }

    function closeModal() {
      showAndHide(menu, ["scaleOut"], ["scaleIn"]);
      setTimeout(() => {
        showAndHide(menu, ["hidden"], ["flex1"]);
      }, 300);
    }

    function showAndHide(
      element: Element | null,
      classesToAdd: string[],
      classesToRemove: string[]
    ) {
      element?.classList.remove(...classesToRemove);
      element?.classList.add(...classesToAdd);
    }
  </script>
</header>

<style>
  .glass {
    background: linear-gradient(
      135deg,
      rgba(11, 54, 146, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(11, 54, 146, 0.1);
    box-shadow: 0px 1px 32px 0px rgb(153 153 155 / 11%);
  }
  .flex1 {
    display: flex;
  }
  .scaleIn {
    animation: scaleIn 0.25s ease forwards;
    animation-iteration-count: 1;
  }
  .scaleOut {
    animation: scaleOut 0.25s ease-in forwards;
    animation-iteration-count: 1;
  }

  @keyframes scaleIn {
    0% {
      scale: 0.8;
    }
    90% {
      scale: 1.01;
    }
    98% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }

  @keyframes scaleOut {
    0% {
      scale: 1.01;
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      scale: 0;
      opacity: 0;
    }
  }
</style>
