---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="bg-gradient-to-t from-[#1b2027] to70% to-[#001228] h-[40vh] max-[800px]:h-fit flex justify-center items-center overflow-hidden relative">
  <div
    class="pt-20 flex justify-center items-center gap-10 w-full px-10 max-[850px]:gap-0"
  >
    <div class="p-10 rounded-3xl max-[850px]:w-full pt-10 relative z-20">
      <h2
        class="text-7xl max-xl:text-6xl text-blue-600 font-CoFoBold max-[1000px]:text-5xl max-[700px]:text-4xl"
      >
        {title}
      </h2>
    </div>
    <div
      class=" w-full h-[288px] rounded-3xl   max-[850px]:hidden"
    >
      <img
        class="bg-animation bg-animation1 absolute top-0 left-0 h-[120vh] z-10 -translate-y-[6%]"
        src="/image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
        alt=""
      />
      <img
        class="bg-animation bg-animation2 absolute top-0 left-0 h-[120vh] z-10 -translate-y-[6%]"
        src="/image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
        alt=""
      />
      <img
        class="bg-animation bg-animation3 absolute top-0 left-0 h-[120vh] z-10 -translate-y-[6%]"
        src="/image-040ade60-a8fb-46a8-b463-4d07c00a8df8.webp"
        alt=""
      />
    </div>
  </div>
</section>
<style>
  .bg-animation {
    animation-name: bg-contact;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .bg-animation1 {
    animation-name: bg-animation-contact1;
  }
  .bg-animation2 {
    animation-name: bg-animation-contact2;
  }
  .bg-animation3 {
    animation-name: bg-animation-contact3;
  }
  @keyframes bg-animation-contact1 {
    0% {
      left: -10vw;
      opacity: 0;
    }
    10% {
      opacity: 0.3;
    }
    100% {
      left: 50vw;
      opacity: 0;
    }
  }
  @keyframes bg-animation-contact2 {
    0% {
      left: -30vw;
      opacity: 0;
    }
    10% {
      opacity: 0.3;
    }
    100% {
      left: 30vw;
      opacity: 0;
    }
  }
  @keyframes bg-animation-contact3 {
    0% {
      left: -50vw;
      opacity: 0;
    }
    10% {
      opacity: 0.3;
    }
    100% {
      left: 10vw;
      opacity: 0;
    }
  }
</style>
